[2020-03-04 09:49] marimeireles opened #6 "Modularize graph structure"
In the hope that we can overcome the traitlets bugs on dictionaries and lists.

[2020-03-10 12:08] SylvainCorlay opened #12 "Add python version requirement"
As originally suggested by @marcelotrevisani in https://github.com/conda-forge/staged-recipes/pull/11015

We should have

[code]

in setup.py

[2020-03-10 13:39] jtpio opened #13 "Add screencast to the README"
Congrats on the first release!

Since this widget will probably be getting more and more attention, it would be nice to have a screencast in the README to get an idea of what it looks like.

[2020-03-10 13:42] marimeireles commented on #13
Hey, thanks :)
Yeah, the rules for a screencast are quite restrict though, right? :p
It has to be made in a jupyter lab and do I have to use specific dimensions?

[2020-03-10 13:45] SylvainCorlay commented on #13
Maybe we should start with a screenshot, since it will quickly be outdated - and gifs are large.

[2020-03-10 13:46] marimeireles commented on #13
The frontend won't actually change much.

[2020-03-10 13:49] SylvainCorlay commented on #13
Although the screenshots may include a notebook cell. Also, outdated gifs stay in the git history.

[2020-03-10 13:50] jtpio commented on #13
For now the screencast could be uploaded to GitHub (drag and drop in a comment textbox), and the URL used in the README. To save on the size.

[2020-03-10 13:54] SylvainCorlay commented on #13
that's funny.

[2020-03-10 13:55] jtpio commented on #13
The trade-off is that they don't render offline of course.

[2020-03-10 15:21] marimeireles commented on #13
![cytoscape](https://user-images.githubusercontent.com/17600982/76328068-bbbbcf00-62e2-11ea-93ed-01ba392ac50c.gif)

[2020-03-11 08:03] marimeireles commented on #13
Closing the issue because I added everything I could think of it'd be useful at the moment on the readme.
Thanks @jtpio and @SylvainCorlay 🌸

[2020-03-11 08:03] #13 closed

[2020-03-11 08:05] jtpio commented on #13
This looks great, thanks!

[2020-03-11 11:38] marimeireles commented on #12
Sorry I missed this in my last update. So I'll change [this](https://github.com/QuantStack/ipycytoscape/blob/master/setup.py#L88-L90) +will add some info for [pypi](https://packaging.python.org/tutorials/packaging-projects/#setup-args) in my next one.
Thanks <3

[2020-03-15 19:07] marimeireles opened #15 "Make dagre visualization prettier"
Currently the `dagre` visualization just looks like a `cola` visualization with hierarchy.
I'd like to add arrows to it and basically make it look like the example in the main cytoscape page. [Here](https://github.com/cytoscape/cytoscape.js-dagre) is the link for its code.

[2020-03-15 19:15] marimeireles opened #16 "The zoom functionality shows tips automatically"
I've added methods that check how much zoom the user is giving to a certain graph.
It might be interesting to show tips automatically once the zoom reach X%.

[2020-03-16 13:16] marimeireles opened #19 "Complex types on popper will cause crash"
According to https://github.com/atomiks/tippyjs/issues/736 all I  have to do is update to `tipjs` 6.

[2020-03-31 09:15] gqpj opened #22 "Error displaying widget: model not found"
Hello!
I'm trying to run examples in JupyterLab 2.0.1:
[code]
I've got the error in every example:
[code]

What I'm doing wrong?

[2020-03-31 09:21] gqpj commented on #22
@marimeireles I see you hard-working on your fork may be you already fixed this?

[2020-03-31 11:51] jtpio commented on #22
@gqpj what is the output of `jupyter labextension list`?

[2020-03-31 12:46] gqpj commented on #22
@jtpio
[code]

[2020-03-31 12:50] gqpj commented on #22
The installation:
[code]
Is it ok that the process ends `\` symbol?

[2020-03-31 13:08] gqpj commented on #22
I've rebuilt with `--minimize=False`:
[code]
and it works now.

[2020-03-31 13:08] #22 closed

[2020-03-31 13:29] gqpj opened #24 "Support Voila"
Open in [voila](https://github.com/voila-dashboards/voila):
[code]
I've got empty page with text "Test NetworkX methods [1, 5]"

In the network log I see 404 for urls:
* http://localhost:8888/voila/jupyter-cytoscape.js
* https://unpkg.com/jupyter-cytoscape@0.1.4/dist/index.js

[2020-03-31 13:31] SylvainCorlay commented on #24
Are you trying to use ipycytoscape master?

[2020-03-31 13:34] gqpj commented on #24
My install:
[code]

[2020-03-31 13:34] SylvainCorlay commented on #24
What about the Python side?

[2020-03-31 13:35] gqpj commented on #24
Python from miniconda:
[code]

[2020-03-31 13:36] SylvainCorlay commented on #24
I meant, what version of ipycytoscape are you using on the back-end?

[2020-03-31 13:38] gqpj commented on #24
How to check it?

[2020-03-31 13:38] marimeireles commented on #24
If you're using conda I think `conda list` should list your packages versions.

[2020-03-31 13:38] marimeireles commented on #24
And thanks for opening the issues! =)

[2020-03-31 13:38] gqpj commented on #24
[code]

[2020-03-31 13:39] SylvainCorlay commented on #24
Ah, I understand the issue. Fix coming up.

[2020-03-31 14:10] SylvainCorlay commented on #24
Can you try again?

[2020-03-31 14:10] SylvainCorlay commented on #24
(Without changing anything locally)

[2020-03-31 14:50] gqpj commented on #24
It works! But http://localhost:8888/voila/jupyter-cytoscape.js still 404. Is it ok?

[2020-03-31 14:59] SylvainCorlay commented on #24
Yes, this is a hook for developers to put a custom local version of the bundle. We use it for debugging locally before publishing.

[2020-03-31 15:08] gqpj commented on #24
Great! Thanks! :+1:

[2020-03-31 15:08] #24 closed

[2020-03-31 15:24] gqpj opened #25 "KeyError: 'nodeSpacing'"
When I run `Grid Example.ipynb` or `Labels example.ipynb` I get:
[code]

[2020-03-31 15:28] gqpj opened #26 "TraitError: The 'zoom' trait of a CytoscapeWidget instance must be a float"
When I run `Test handling in Jupyter.ipynb` (and others) it works but in the log entries on the status bar in JupyterLab 2.0.1 I get many of errors:
[code]

[2020-03-31 15:31] marimeireles commented on #25
Hum! I know this issue.
I thought I had fixed it before, but this is happening because of bug on a library we use, `traitlets`. Because of this bug you can't change individual key/values of a dictionary, you have to change it all over again, so I think the `Labels` example is doing something like this:
[code]
When it should actually be doing something like this:
[code]
The new version I'm working

[2020-03-31 15:35] gqpj opened #27 "TypeError: null has no properties"
When I try to move the node in `Tip gene example.ipynb` using Voila (http://localhost:8888/voila/render/ipycytoscape/examples/Tip%20gene%20example.ipynb) I get many JavaScript errors:
[code]
And one error:
[code]

[2020-03-31 15:45] marimeireles commented on #26
Okay! Thanks for letting me know of this one!
Will fix it in the next iteration!

[2020-03-31 18:14] jtpio commented on #22
Thanks @gqpj for posting your answer.

However running with `--minimize=False` shouldn't be required.

Also the list above suggests that you are using the base conda environment? Would you be able to try the commands (without the minimize flag) in a new environment?

[2020-03-31 18:26] gqpj commented on #22
It works in fresh conda env without minimization. Thanks!
[code]

[2020-04-01 10:38] #6 closed

[2020-04-01 10:38] #12 closed

[2020-04-01 10:38] marimeireles commented on #12
This was attend to.

[2020-04-01 10:39] marimeireles commented on #15
I think to do that I need.. https://github.com/cytoscape/cytoscape.js-edgehandles maybe?

[2020-04-01 10:46] marimeireles opened #28 "List of fixes & regressions"
Must:
- [x] add conda package to spectate (maybe it already exists? = it doesn't)
- [x]  add from json
- [x] fix examples

Not a must but nice:
- [x] fix edge fine update on frontend
- [ ] add zoom_change (will fail on jupyterlab see issue #26)
- [ ] add rendered_position_change (js)
- [x]  add functions get node and edge by id on python side
- [x]  add from csv or from df
- [ ]  implement get/set

[2020-04-01 14:37] gqpj opened #29 "WebGL"
Just want to let you know that you can use WebGL for draw graph like plotly https://plotly.com/python/webgl-vs-svg/

[2020-04-01 14:49] martinRenou commented on #29
`Cytoscape.js` does not support using a GL context as far as I can see. But it's using the 2D context of a Web Canvas. Which is already relatively fast. You can also go up to a million points, not as smooth as WebGL but still way faster than SVG.

[2020-04-01 20:11] marimeireles commented on #29
Thanks for the feedback @martinRenou!
@gqpj if you're interested in talking or getting involved somehow QuantStack has an open channel on gitter that you can join: https://gitter.im/QuantStack and https://gitter.im/QuantStack/core_development, thanks for the issue =)

[2020-04-13 09:57] marimeireles opened #33 "Make tip visualization better"
The visualization looks cramped now if you add more than one attribute to the tip. It's not possible to add line breaks. I think adding that would be enough already.

<img width="186" alt="Screen Shot 2020-04-13 at 11 56 19 AM" src="https://user-images.githubusercontent.com/17600982/79111985-14143f80-7d6d-11ea-8d9d-61b89618eef1.png">

Maybe upgrading to a new tip version will fix this.

[2020-04-13 09:58] marimeireles opened #34 "Upgrage tip to version 6"
Not super straightforward because the API has changed considerably.

[2020-04-13 09:59] marimeireles commented on #15
Not actually. This is done and it's part of the default style now.

[2020-04-13 09:59] #15 closed

[2020-04-13 10:00] marimeireles commented on #16
Not even sure if this is a good idea. Will look super cramped if there is a lot of information in the screen.

[2020-04-13 10:00] #16 closed

[2020-04-13 10:01] marimeireles commented on #33
The way cytoscape.js is dealing with this is writing some non generalist code in the frontend, but might give me some good ideas about how to improve the visualization: https://js.cytoscape.org/demos/colajs-graph/

[2020-04-13 11:55] gqpj commented on #29
Thank you for explanation! I'm going to close this.

[2020-04-13 11:55] #29 closed

[2020-04-14 11:35] marimeireles commented on #25
This is fixed and can be found on the master branch in this repo, or in the version 0.2.0 that will be released soon. I decided to postpone the new version because I wanted to add some functionalities for a project I'm contact with.
If you need help building stuff directly from git, don't hesitate to ping me [here](https://gitter.im/QuantStack/Lobby).

[2020-04-14 11:35] #25 closed

[2020-04-20 05:41] pwrose opened #39 "ipycytoscape=0.2.0 is not on conda-forge"
The latest version on conda-forge is ipycytoscape 0.1.4

[2020-04-20 07:52] marimeireles commented on #39
Thanks for letting me know! Sorry for that, will fix in a minute.

[2020-04-22 07:20] marimeireles commented on #39
Now there is a version `0.2.1`.
Thanks @pwrose!

[2020-04-22 07:20] #39 closed

[2020-04-28 02:36] ianhi opened #45 "node id in from_networkx is always cast to int"
In the `add_graph_from_networkx`  method the node id is forced to be an int:
https://github.com/QuantStack/ipycytoscape/blob/59e3440d8a77efb3ecae4867e1992d400be5b96c/ipycytoscape/cytoscape.py#L194-L197

But networkx nodes can be any hashable object ([ref](https://networkx.github.io/documentation/stable/tutorial.html#what-to-use-as-nodes-and-edges)):

for example:
[code]

throws a type error.

As f

[2020-04-28 02:58] ianhi opened #46 "aggregated suggestions"
I want to start by saying thanks so much for this widget! I'm glad I started my current project (building and analyzing lots of graphs) now and not two months ago :) In a flurry of foolishness I was about to try to implement my own version of this widget before I found this. Which actually leads me to my first suggestion

### 1. more jupyter keywords
I spent an hour or so this morning searching ar

[2020-04-28 09:57] SylvainCorlay commented on #46
Hey @ianhi thanks for opening the issue.

That's great to hear!

On the "more jupyter keywords" thing, note that we have not yet announced / advertized the release of ipycytoscape, although the blog post should be published very soon. It should soon be easier to find - and referenced on the jupyter.org/widgets page as well.

[2020-04-29 16:31] marimeireles opened #47 "Add a default style for directed graphs"
As suggested by @ianhi in https://github.com/QuantStack/ipycytoscape/issues/46 in his second point.

One idea is to add a flag that can be activated if the graph is directed in the `add_graphs` methods:

https://github.com/QuantStack/ipycytoscape/blob/59e3440d8a77efb3ecae4867e1992d400be5b96c/ipycytoscape/cytoscape.py#L184

https://github.com/QuantStack/ipycytoscape/blob/59e3440d8a77efb3ecae4867e19

[2020-04-29 16:31] marimeireles opened #48 "Add a default style for directed graphs"
As suggested by @ianhi in https://github.com/QuantStack/ipycytoscape/issues/46 in his second point.

One idea is to add a flag that can be activated if the graph is directed in the `add_graphs` methods:

https://github.com/QuantStack/ipycytoscape/blob/59e3440d8a77efb3ecae4867e1992d400be5b96c/ipycytoscape/cytoscape.py#L184

https://github.com/QuantStack/ipycytoscape/blob/59e3440d8a77efb3ecae4867e19

[2020-04-29 16:33] marimeireles opened #49 "link to examples directory in the README"
Also as suggested [here](https://github.com/QuantStack/ipycytoscape/issues/46) in the third point.

[2020-04-29 16:42] marimeireles commented on #46
I never really thought about this. Please feel free to add a PR with the changes you think it'd be relevant on the README.

Great idea! I created an issue https://github.com/QuantStack/ipycytoscape/issues/48 for that one =)

Also created an issue for that, thanks again. https://github.com/QuantStack/ipycytoscape/issues/49

So the problem here is a bit more annoying. It's something I tried to fix i

[2020-04-29 16:44] marimeireles commented on #45
Yep. That's a very good catch.
I'll add it to my backlog but feel free to tackle it too if you want to. I'm around if you have any more questions and also available [here](https://gitter.im/QuantStack/Lobby).

[2020-04-29 16:45] #47 closed

[2020-04-30 00:09] ianhi commented on #45
Sounds good, I won't have time until Friday but I'll fix this then. Unfortunately being a grad student involves more than having fun contributing to open source software :(

Looking at the cytoscapejs documentation for elements ([ref](https://js.cytoscape.org/#notation/elements-json)) I think that the node id needs to be a string or at least castable to a string

So maybe calling `repr` or `str` o

[2020-04-30 00:24] ianhi opened #50 "kernel restart causes cytoscape widget to grow forever"
![restarting_kernel](https://user-images.githubusercontent.com/10111092/80659033-bf9fde00-8a55-11ea-8bca-6a68eaffc6e2.gif)
This isn't the biggest deal as it doesn't occur while the kernel is live. But restarting the kernel is definitely something I do often enough that I could see this being annoying. Unfortunately I don't have any insight as to why this happening.

Of note: it only expands until

[2020-04-30 00:52] ianhi commented on #46
### add_to_style

How about a convenience function like:
[code]

### traitlets
Is there a good resource for learning more about traitlets? I read the documentation, but I'm still a little confused as to why `spectate` is necessary. Which is to say I don't see why Traitlets objects are not mutable on their own. As python objects they seem to be, i.e. I can run:
[code]
without an error. But this doe

[2020-04-30 08:15] marimeireles commented on #50
Thanks for posting @ianhi. Fixed in master :)

[2020-04-30 08:15] #50 closed

[2020-05-04 07:24] marimeireles commented on #46
I think this might work, if you use [copy](https://docs.python.org/3.8/library/copy.html) to create a new object in the end, because the problem on traitlets is updating objects, it just accepts brand new objects. It should be kind of similar to https://github.com/QuantStack/ipycytoscape/blob/8d1cc0923f14a752408b2e76a38dd349fbc6f6ce/ipycytoscape/cytoscape.py#L316-L338

I'll create an issue that re

[2020-05-04 07:28] marimeireles opened #56 "Add a granular change to style"
See https://github.com/QuantStack/ipycytoscape/issues/46#issuecomment-621548078 and https://github.com/QuantStack/ipycytoscape/issues/46#issuecomment-623301474

It'd be cool if we could change single elements of style instead of having to add a dictionary with the full style, like we're currently doing.

As pointed here https://github.com/QuantStack/ipycytoscape/issues/46#issuecomment-623301474 an

[2020-05-04 09:41] marimeireles commented on #45
I don't think so.
You're right about the `int`, it doesn't make sense to have an id that's always an `int`, but I'm afraid that you can't pass a whole object to the graph as id  because it's an unserialized object. (I just tested it).

Maybe just serializing it works? Using the [json](https://docs.python.org/3/library/json.html#module-json) module. But then, I think it'd make more sense to write s

[2020-05-04 15:54] #49 closed

[2020-05-04 17:45] marimeireles opened #61 "Create a clear method"
That will remove all nodes from the graph.

Just like [dict.clear](https://docs.python.org/3/library/stdtypes.html?highlight=clear#dict.clear)

[2020-05-05 00:56] MridulS commented on #48
A design choice: should the directed be a graph property or an edge property? https://github.com/QuantStack/ipycytoscape/pull/62 assumes it as a graph property right now.

By being a graph property we can have 2 types of graphs, undirected and directed.
By being an edge property, this will also work for mixed graph (undirected and directed edges in one single graph).

[2020-05-05 03:34] ianhi commented on #48
:+1: to mixed graphs! Edge properties seems like a great way to go towards that end.

I poked around a bit and it seems as though using the classes syntax in cytoscapejs would be a good way to do this. i.e. use `Edge(classes='directed')` and add use the selector `.directed` in the style. (Beware that to use selectors based on classes you need the changes in https://github.com/QuantStack/ipycytosca

[2020-05-05 11:39] marimeireles opened #64 "Convert the python graph to cytoscape graph"
So, @ianhi PR https://github.com/QuantStack/ipycytoscape/pull/63 made me realized that not all attributes of a graph are being converted to a cytoscape graph.

We need to do the same thing for all attributes.

[2020-05-05 14:56] ianhi commented on #64
Ohhh do you meant that all of these are valid in cytoscapejs?
https://github.com/QuantStack/ipycytoscape/blob/8769ec2d36a9ae5ec8420ffc1c96fbb0f062d284/ipycytoscape/cytoscape.py#L84-L91

[2020-05-05 15:03] marimeireles commented on #64
Uhum, and also these: https://github.com/QuantStack/ipycytoscape/blob/8769ec2d36a9ae5ec8420ffc1c96fbb0f062d284/ipycytoscape/cytoscape.py#L93-L94

Theoretically, everything that's documented here: https://js.cytoscape.org/#notation/elements-json is available in the frontend and just needs to be connected.

And the whole website actually. There are some really interesting functions like [different w

[2020-05-05 15:30] ianhi commented on #64
Gotcha.

One other thing that might be nice to consider is that in cytoscapejs classes can be either a list of strings `['class1', 'class2']` or a string with classes separated by spaces `class1 class2`.  On the python side it might be easier to work with lists of classes rather than a string. Maybe the objects could convert lists of strings to strings for the user? i.e.
[code]
Since both typescri

[2020-05-05 15:41] MridulS commented on #64
While being on the design choices for this, one more thing I think would improve the graph code would be to use a default graph data structure like adjacency list, instead of independent lists of nodes and edges. This makes it much easier to manipulate the graph data. Something like https://github.com/QuantStack/ipycytoscape/blob/8dbe4cf1ef64b089592e06a6492fbd33deadd86d/ipycytoscape/cytoscape.py#L

[2020-05-05 15:42] ianhi opened #65 "use eslint for typescript"
Something I found pretty useful in making jupyterlab extensions (rather than widgets) is the automatic linting of typescript code using eslint. Adding eslint as a dev dependency would allow for running: `npm run lint` to automatically style the typescript code (e.g. https://github.com/jupyterlab/jupyterlab-git/blob/8d56986409461cd9968d7208da4946fca8c70392/package.json#L23-L25). You can also add it

[2020-05-06 08:08] marimeireles commented on #65
No, I think it's equally a .ts project, it's just that I'm way better in python, so I tend to write more python.
That's a good idea :)

[2020-05-06 11:47] marimeireles opened #66 "Recuperate zoom and rendered position changed"
There are these two functions who got lost from version 0.1 to 0.2 of ipycytoscape.
If you download this release file: https://github.com/QuantStack/ipycytoscape/releases/tag/0.1.4
You'll see it, but basically, we need to readd them to the code:

[code]

This should lie inside https://github.com/QuantStack/ipycytoscape/blob/1cba2f411d6e323d83025d52dd314817f064ad94/src/widget.ts#L334

We also have

[2020-05-06 11:54] marimeireles opened #67 "Add git hook to dodo.py"
I think it'd be nice to  have this built in in the repo :)

https://github.com/QuantStack/ipycytoscape/blob/master/dodo.py

[2020-05-07 00:16] ianhi commented on #65
I too am better at python than typescript. Which I think is why I found the compilation of typescript and linting so helpful!

[2020-05-08 04:16] ianhi commented on #64
(I didn't design this widget so take whatever I say with a grain of salt and check with @marimeireles for the truth)

@MridulS You're definitely right that an adjacency matrix would make manipulating the graph easier. However, I think that this library is not intended to be a graph manipulation library, but rather to serve as bridge between python and javascript for nice display.  So after manipul

[2020-05-08 04:33] ianhi commented on #64
FWIW I think properly doing the conversion from something like networkx attributes to cytoscape attribute would also solve some other issues. For example it would solve https://github.com/QuantStack/ipycytoscape/issues/45#issuecomment-621330283

So, if you have keywords in a networkx graph that match the keywords existent in a cytoscape graph you could make a better conversion from one to another.

[2020-05-08 04:36] MridulS commented on #64
(Just my opinions, could be wrong about pretty much everything :) )

True this isn’t a graph manipulation library but my reasoning behind keeping a (hidden from user) graph data structure is to make testing, bug fighting and having a single source of truth. For example, successive `add/remove_edge/node/graph`, method has to keep track of both nodes and edges and make sure both the lists are update

[2020-05-08 04:39] MridulS commented on #64
+1

[2020-05-08 04:45] ianhi commented on #34
Also depends on cytoscape-popper updating: https://github.com/cytoscape/cytoscape.js-popper/issues/39

[2020-05-08 05:13] ianhi commented on #66
needs to be `this.model.set('zoom',  this.cytoscape_obj.zoom());`
looks like the cause of https://github.com/QuantStack/ipycytoscape/issues/26

[2020-05-08 05:16] ianhi commented on #66
Also, what are these for? On the python side they don't seem to do much? https://github.com/QuantStack/ipycytoscape/blob/8769ec2d36a9ae5ec8420ffc1c96fbb0f062d284/ipycytoscape/cytoscape.py#L306-L307

Are they in case someone wants to modify those things from python? like:
[code]

[2020-05-08 05:27] ianhi commented on #66
Ah, one consequence of this is that if you have multiple views of the same object they all are forced to have the same zoom level. Is this intended? My preference would be for different views to be able to have different zoom levels and rendered positions so i could look at multiple parts of the same graph at once using different cells.

[2020-05-08 05:42] ianhi commented on #33
You can add line breaks with `<br />`. I just tried manually adding some and it worked.

A first pass for improvment would be to replace all line breaks with a `<br />`
using a regex from: https://stackoverflow.com/questions/784539/how-do-i-replace-all-line-breaks-in-a-string-with-br-elements

[code]

https://github.com/QuantStack/ipycytoscape/blob/8769ec2d36a9ae5ec8420ffc1c96fbb0f062d284/src/widg

[2020-05-08 11:53] marimeireles commented on #66
So this code is for the frontend part, actually.
The idea of these functions is doing something like, if the zoom is > 90% then, show tips or something like that. And the rendered position was actually requested by an user, it can be used to create an analyses graph, where you want to preset the locations of the nodes.

That'd be cool. I don't really know how to do this, because I think the API fo

[2020-05-08 12:22] marimeireles commented on #33
Oh, that's sweet! :D

That's a very good idea, the `data` attribute in cytoscape is a free thing, right? Is up to the users to decide what kind of content it will have.

Another option, would be making this method more generic, allowing the user to choose which attribute of the graph they'd like to use it as tip.

[2020-05-08 12:24] timkpaine commented on #64
@MridulS thats how ipydagred3 does it, all manipulations end in a "sync" method and I keep a dict or arbitrary attrs so not every dagre attribute has to map back to an explicit python type https://github.com/timkpaine/ipydagred3/blob/master/ipydagred3/edge.py#L26

[2020-05-08 15:18] ianhi commented on #66
Huh, I think I'm misunderstanding something then. To me it looks like what these functions do is make sure that `zoom` and `rendered_position` are synced back to python.

I think I'm confused here as well. Looking at that code (https://github.com/QuantStack/ipycytoscape/blob/b39d99fc66cc416d5f6e32fa776896257f2d44f6/src/widget.ts) it seems that `rendered_position` neither affects anything on the fr

[2020-05-08 15:23] ianhi commented on #33
I do like having choices :)

How about there being a default attribute to use (stored in data) e.g. `onclick-text` and it is also configurable via the constructor of the cytoscapewidget https://github.com/QuantStack/ipycytoscape/blob/8769ec2d36a9ae5ec8420ffc1c96fbb0f062d284/ipycytoscape/cytoscape.py#L273

[2020-05-08 20:02] MridulS commented on #64
@timkpaine thanks for the link! yeah that's exactly what I had in mind.

[2020-05-14 13:47] #65 closed

[2020-05-17 23:26] ianhi commented on #64
@marimeireles I had a go at this and got on stuck what to do in the `on:change` method on the typescript side. These attributes being changed should trigger a re-render. But currently the only way to cause a re-render is to call `init_render` in such a way that a new cytoscape object is created:
https://github.com/QuantStack/ipycytoscape/blob/fdb8ea14d93b55ebb56a2d4ea286ab152ed6f96a/src/widget.ts#

[2020-05-18 01:43] ianhi opened #71 "Add a reset button"
Similar to the home button in ipympl:

![image](https://user-images.githubusercontent.com/10111092/82166694-4393fb80-9887-11ea-917b-c6b0e79a35f5.png)

When I'm scrolling up an down the notebook I can end up accidently zooming way out and end up being unable to find the graph again.  This would give me a way to return. Ideally if there was a button there would be an option to hide it.

[2020-05-18 20:11] ianhi commented on #45
Looking back on this I'm not sure I understand what you mean here. Is this why calling `repr` or `str` is incorrect?

[2020-05-18 21:13] ianhi opened #73 "Allow using kwargs when creating cytoscapewidget"
It'd be nice to be able to define widget attributes at creation time, rather than after.

i.e.:

[code]
instead of
[code]

This could either be implemented as explicit keyword arguments to `init`, or maybe  `init` could accept `**kwargs`.

[2020-05-19 04:12] ianhi opened #75 "Ability to export/save graphs"
It would be great to implement the cytoscape functions for saving the current view as an image https://js.cytoscape.org/#core/export

This may be tricky because if there are multiple views of the object that have diverged it's not clear which one should be used.

[2020-05-19 05:07] ianhi opened #76 "Enable resizing the view of the graph"
It would awesome to be able to resize the view similar to how ipympl does it.
![ipympl-resize](https://user-images.githubusercontent.com/10111092/82286845-b4f9aa00-996c-11ea-83a7-b46c44d62f19.gif)

I think this would require two steps:
1. Resize the DOM element that the graph is in
2. call https://js.cytoscape.org/#cy.resize

I don't fully understand whats going on in ipympl but it would probably

[2020-05-19 18:03] ianhi opened #77 "not all cytoscape config options are exposed"
There are several intialization options for cytoscapejs that currently can't be set from python:
https://js.cytoscape.org/#core/initialisation

In particular I'd like to be able to set  `wheelSensitivity` because apparently a single tick on my mousewheel is enough to make to zoom in much too far. But I think it makes sense to include all the options.

[2020-05-19 21:11] panicfarm opened #79 "How do I listen to onclick events for Node or Edge"
I would like to be able to register listeners for all Edges and Nodes such that when a user clicks on them, a callback with the Edge.data or Node.data is called.

Is this already possible?

[2020-05-24 04:47] Phocion opened #80 "Support for Notebook HTML Export"
Really appreciate this project for bringing much-needed graph interactivity to Jupyter.

Was wondering if there are plans to have the graph exported properly into HTML notebook exports?  Something akin to Plotly's plotly.offline.iplot(...) function. I recall needing one additional step to get interactive Plotly plots to export correctly in Jupyter Notebook HTML exports:
[https://blog.matteoferla.c

[2020-05-28 11:37] marimeireles opened #81 "Change style of tips"

[2020-05-28 11:38] marimeireles commented on #33
Closed by https://github.com/QuantStack/ipycytoscape/pull/74 but we can still make it better, see https://github.com/QuantStack/ipycytoscape/issues/81.
Thanks a lot for your work here @ianhi :))

[2020-05-28 11:38] #33 closed

[2020-05-28 11:58] marimeireles commented on #80
Hi @Phocion!
I think it's even possible to make it interactive, at least, that's what [voila](https://github.com/voila-dashboards/voila) is doing, do you know it? I just tested it with ipycytoscape and it seems to work fine.
(Soon we'll also have a tool to convert html and notebooks to pdfs and slideshows :D)

If you're using it and manage to create some cool visualizations and interactions betwee

[2020-05-28 16:28] ianhi commented on #80
I think Voila runs a python kernel underneath to enabled continued interaction with python? So its not quite the same as exporting to standalone HTML. Correct me if I'm wrong but I think @Phocion is talking about `File > Export Notebook As > Export as HTML`. But that doesn't save with a working widget. The steps to get that to work are:
1. Ensure that widget state gets saved:
![image](https://user

[2020-05-28 16:58] ianhi commented on #80
A minimal embedding is not so hard it turns out, most of the NBconvert output can be removed without consequence (there's like 10000 lines of css). The widget state gets saved in a script tag and then all you need is the html below. It's probably also possible to get that widget state from within python, but idk how.

[code]

[2020-05-30 07:18] ery010 opened #82 "Adding pop-up boxes to nodes"
Is there a way to add a text-box containing clickable urls to a node with json? Specifically, I want to be able to click on any node on my graph, and have some kind of box that contains a link. I see this feature on the cytoscape.js cola example, but I cannot replicate this on ipycytoscape.

[2020-05-30 16:22] ianhi commented on #82
You can do this using the tooltip, which you can put arbitrary html into. On the released version whatever you set you can set the the `name` attribute of the node data will show up on clicking the node. While on the master branch this has changed to be the `tooltip` attribute.

For example if you look at the [Text on Node example](https://github.com/QuantStack/ipycytoscape/blob/master/examples/Te

[2020-06-12 11:25] #77 closed

[2020-06-12 11:27] marimeireles opened #83 "Add pixelRatio attribute to ipycytoscape"
While pursuing a solution for #77 on PR #78 @ianhi found out about an attribute that can either be a float or a string:

https://js.cytoscape.org/#init-opts/pixelRatio

We don't quite know how to deal with that with traitlets, but might be an interesting exploration.

[2020-06-12 11:31] marimeireles commented on #82
Yep, I think the solution by @ianhi is the only one I know too.
@ianhi created a method to make easier to deal with tips the `set_tooltip_source()` method.
You can see an example of its use on the `DataFrame interaction` example.

[2020-06-12 11:44] martinRenou commented on #83
You can use an `Union`, so something like: `Union(Unicode(), CFloat())` should work

[2020-06-12 11:59] marimeireles commented on #83
Huh! That was way simpler than I expected.
Thanks @martinRenou  :D

[2020-06-13 02:23] ianhi commented on #83
Wow don't know how I missed that. Thanks @martinRenou! through your comments here and my reading of the ipycanvas source code I think you're becoming the main source of my understanding of jupyter widgets.

[2020-06-13 23:59] shinokada commented on #82
When I use the set_tooltip_source() method, I get the following error.
[code]

So I tried the following, the tooltip is not working.
I used the following but did not render at Binder.

[code]

[2020-06-14 01:08] ery010 commented on #82
I would put the content in 'tooltip' in 'name' instead. Then add another attribute to display what you originally put in name.
` { 'data': { 'id': 'desktop', 'display_name': 'Cytoscape', 'name':'<a href="https://github.com/QuantStack/ipycytoscape/issues/82">My text 1</a>' } }`

You can use the attribute set_style to accomplish this. Check out the Text on Node example. Just change 'content' in 'css

[2020-06-14 01:35] shinokada commented on #82
I used this code as ery010 suggested.

[code]

Then I got this image.

![image](https://user-images.githubusercontent.com/147320/84582720-a945ba00-ae2a-11ea-9247-192386a9007e.png)

It seems that display_name is not rendered.

[2020-06-14 01:50] ery010 commented on #82
You'll have to change the style. Here is the code from the Text on Node example I mentioned, but I changed the content to display the 'display_name'

`cytoscapeobj.set_style([{
                        'selector': 'node',
                        'css': {
                            'content': 'data(display_name)',
                            'text-valign': 'center',
                            'col

[2020-06-14 03:27] ianhi commented on #82
This is because the Binder is using the most recent release and not following the master branch:
https://github.com/QuantStack/ipycytoscape/blob/c51378ff624e0572d6e05657f253bcdcce22edfc/postBuild#L1
https://github.com/QuantStack/ipycytoscape/blob/c51378ff624e0572d6e05657f253bcdcce22edfc/environment.yml#L5

I'm not sure if its desirable but I think the binder could be made to use the master branch

[2020-06-16 17:52] marimeireles opened #85 "Is zoom suddenly more digital than analogical?"
Zoom in and zoom out are jumping in my screen.
As far as I remember it used to be a smooth animation.

- [ ] Is it reproducible in other computers?
- [ ] Test with older versions of ipycytoscape (maybe I'm just tripping)

Having this issue on ArchLinux, Firefox 77

[2020-06-16 18:03] ianhi commented on #85
I think I have always had this issue - its what motivated https://github.com/QuantStack/ipycytoscape/issues/77#issue-621178946
This happens on both a desktop with an external mouse and my thinkpad laptop. Both have
PopOS 20 - Firefox 75

On my laptop scrolling with two fingers on the touchpad it looks like this:
![Peek 2020-06-16 13-59](https://user-images.githubusercontent.com/10111092/84810703-b

[2020-06-16 18:06] marimeireles commented on #85
Hum, interesting!
Thanks for confirming this @ianhi, yeah, I'm also on a ThinkPad and it's happening exactly the same thing.
I see what you mean on the comment now, sorry I didn't get it earlier.
I'll test it on my Mac tomorrow when I have the chance.

[2020-06-16 18:12] ianhi commented on #85
:+1: - also (only mentioning because maybe relevant to scrolling) if you have a T490 then there may be other issues if you're on systemd 245. I found that the touchpad size definition was wrong for that release https://github.com/systemd/systemd/issues/15694

[2020-06-16 18:14] MridulS commented on #85
Seems like a linux thing (or browser) ?
It’s pretty smooth on Mac (Safari)

[2020-06-16 18:16] marimeireles commented on #85
Not my model, but good to keep documented. :) Thanks @ianhi.
Thanks for testing @MridulS! If I remember correctly it used to work fine on my Mac too... On Firefox. Might be either an OS or hardware problem maybe?
(btw I want to merge your PR! It's great work, gonna take some time this week to check on it again)

[2020-06-16 18:16] ianhi commented on #85
It does seem to be a browser issue. It's smooth on chrome for me

[2020-06-16 19:17] marimeireles opened #86 "Tuple IDs not working on NetworkX"
Thanks to some comments on #70 I tried to add some tuples as IDs to nodes and tried to connect them to create a graph.

It's not working.

Here is some reproducible code to run in a notebook:

[code]

This code will produce the following result:

![Screenshot_2020-06-16_21-01-47](https://user-images.githubusercontent.com/17600982/84817484-8f5fcf00-b004-11ea-9084-2d08f12ad611.png)

Meaning that thi

[2020-06-16 19:32] #45 closed

[2020-06-16 19:32] #48 closed

[2020-06-16 19:34] marimeireles opened #87 "Use of `curve-style: bezier` is necessary to add directed style to graphs"
I was reading the [docs](https://js.cytoscape.org/#style/bezier-edges) of this property and it really doesn't make much sense to me why this is happening.

_Originally posted by @marimeireles in https://github.com/QuantStack/ipycytoscape/pull/70_

[2020-06-16 23:31] ianhi commented on #86
Confusingly I get a different javascript error
![image](https://user-images.githubusercontent.com/10111092/84838162-ace26800-b007-11ea-85d7-3d05b85666cc.png)
I did however find that this code worked:
[code]
giving:
![image](https://user-images.githubusercontent.com/10111092/84838276-fa5ed500-b007-11ea-9faf-88ed6b72c25e.png)

[2020-06-16 23:37] ianhi commented on #64
This maybe ought to be re-opened. I think that for JSON or networkx this works, but not for dataframes yet. They need to have a dataframe version of this function used for networkx:
https://github.com/QuantStack/ipycytoscape/blob/0495c5f1721928ca9877cdc0498774eaac74f5be/ipycytoscape/cytoscape.py#L202-L207

[2020-06-16 23:46] ianhi opened #88 "new release?"
With some of the recent merges I find that the master branch is substantially more useful to me than the latest release. Any chance of `0.3.0` release? It would make sharing this with some of my friends and collaborators much easier (no need to have them git clone anything...), I think it would also clear up https://github.com/QuantStack/ipycytoscape/issues/82

Maybe it would be worth dealing with

[2020-06-17 09:20] marimeireles commented on #86
Okay, will give another try in a different env. it seems like I broke mine yesterday night somehow.

[2020-06-17 11:00] marimeireles commented on #87
Have to test it again on mac.

[2020-06-17 12:11] marimeireles commented on #88
I think we could do a `0.2.3` release before fixing this stuff.
I think it'd be cool to merge the two PRs that are hanging for a `0.3.0`? I'm not sure, we might even have to release a 1.0.0 because I think we're gonna break compatibility. I'm mostly following [this](https://semver.org/) to make the choice.
I'll release a `0.2.3` now :)

[2020-06-17 13:27] marimeireles commented on #88
It's already out on npm and pypi, I'll soon make a conda package for it (once the bot catches my release) but you can already use it with `pip` if you want to.
Thanks for your work around here @ianhi!

[2020-06-17 13:27] #88 closed

[2020-06-17 13:44] marimeireles commented on #88
Okay, everything done!
Including the conda stuff. :)

[2020-06-17 15:15] ianhi commented on #88
hooray thanks!

My understanding of semver was that pre 1.0.0 there are no expectations of backwards compatibility
[ref](https://semver.org/#spec-item-4)

[2020-06-17 21:06] ianhi commented on #79
It's not possible.... yet

If you wanted to have a go at implementing it you would need to listen to events with the cytoscapejs functions:
https://js.cytoscape.org/#core/events
The function listening to these events should then send a message back to python (`this.model.send`) with which node was selected.

Then on the python side this should be handled by a `CallbackDispatcher` to manage user ca

[2020-06-17 21:13] timkpaine commented on #79
A similar example:
JS side: https://github.com/timkpaine/ipydagred3/blob/master/js/src/view.ts#L74
Python side track click handlers: https://github.com/timkpaine/ipydagred3/blob/master/ipydagred3/widget.py#L31
Python side register on click: https://github.com/timkpaine/ipydagred3/blob/master/ipydagred3/widget.py#L34
Python side handle JS messages:
https://github.com/timkpaine/ipydagred3/blob/maste

[2020-06-17 21:41] marimeireles commented on #79
I'm not sure if I completely grasp what's your objective with this.
Currently we have this click event:

https://github.com/QuantStack/ipycytoscape/blob/42241912d2323f0f6a8ed222eca36e6a1cd9bf31/src/widget.ts#L402-L433

and it responds to user interactions.
For example if I add a console log to this click event:

<img width="1678" alt="Screen Shot 2020-06-17 at 11 39 34 PM" src="https://user-images

[2020-06-17 21:42] marimeireles commented on #79
Thank you for your inputs @ianhi and @timkpaine, much appreciated :)

[2020-06-17 21:42] timkpaine commented on #79
I think they want to subscribe in python, like in this example:
![https://raw.githubusercontent.com/timkpaine/ipydagred3/master/docs/img/example2.gif]()

[2020-06-17 23:14] panicfarm commented on #79
@marimeireles @timkpaine 's comment is right: we are plotting a subgraph  of a huge graph, and when a user clicks on a node, we would like to add dynamically all edges (and nodes where they terminate) that originate in the clicked node, that are not in the displayed sub-graph.

[2020-06-18 19:56] ianhi commented on #73
Fixed by: https://github.com/QuantStack/ipycytoscape/pull/92

[2020-06-18 19:56] #73 closed

[2020-06-18 19:59] marimeireles commented on #73
Thanks @ianhi!

[2020-06-19 08:52] #83 closed

[2020-06-19 09:55] martinRenou opened #93 "Optimize communication with front-end"
At this place in the code: https://github.com/QuantStack/ipycytoscape/blob/master/ipycytoscape/cytoscape.py#L226-L229, we loop over all the nodes of the JSON file, and `append` new values to the `MutableList` structure. This will have the effect of sending as many update messages to the front-end as there are nodes in the structure.

It might be preferable to loop over the JSON, constructing the n

[2020-06-19 10:06] marimeireles opened #94 "Add a constructor in the main widget"
Quoting @ianhi:

In the init method it could check if its been passed a networkx graph, json graph, and/or dataframe and then call the appropriate add_to_graph_from__ method. Something like:
[code]

[2020-06-19 11:09] marimeireles commented on #93
That's a good catch, thanks @martinRenou!

[2020-06-19 19:49] ianhi opened #95 "add spaces to classes when using directed=True"
cytoscapejs expects the classes to either be an array of strings or a string with classes separated by spaces. Currently when creating a graph with `directed=True` then a `directed` class will be added without any spaces. This works if there aren't any classes already present, but should break if there are any classes already present.
https://github.com/QuantStack/ipycytoscape/blob/b662ec153856467

[2020-06-19 19:51] ianhi commented on #82
The `tooltip_source` is present in the most recent release `0.2.3` and should be working on binder as well now

[2020-06-19 19:52] ianhi commented on #93
The `from_networkx` function could use the change. The dataframe method already seems to have this optimization.

[2020-06-19 20:28] ianhi opened #96 "restructure model - view relationship in typescript?"
Currently there is no way to keep two views of the same graph synced together, which makes implementing something like a save as png functionality difficult (https://github.com/QuantStack/ipycytoscape/issues/75). Currently every view has a new cytoscapejs object created - and any user changes to that graph are not synced back to the model. To see this create multiple views of a graph and move the

[2020-06-20 14:15] stefco commented on #79
I would also find this useful; I use an interactive graph to select steps in a pipeline DAG I built in a GUI.

@marimeireles if you're accepting pull requests, I'd be happy to try to add this feature in, maybe just by setting a "value" trait on the widget to the last selected node on click. I could use a different trait name if you want to reserve `value`. Does that sound like an acceptable approa

[2020-06-21 17:53] stefco commented on #79
@marimeireles @timkpaine @panicfarm I've added this feature in #97. You can specify which types of events to `monitor` from the [the full list of cytoscape events](https://js.cytoscape.org/#events/user-input-device-events) for either `'node'` or `'edge'` objects and then `observe` the last input in the `last_user_event` trait in the kernel. It's pretty general, so it should work for any use case t

[2020-06-21 22:11] blackvvine opened #98 "Class selectors in examples not working"
Hi,

I just installed version 0.2.3 with Jupyter 6.0.3 and the latest Jupyter labs extension, and the class selectors didn't seem to be working. After an hour of struggling, I tried the examples and noticed the class selectors don't work in the "labels" example either:

<img width="861" alt="Screen Shot 2020-06-21 at 6 08 33 PM" src="https://user-images.githubusercontent.com/9886871/85236261-6f585

[2020-06-21 22:26] ianhi commented on #98
Oh huh. good catch!

I think this is specific to the `from_json` method. The attributes other than data never get added:
https://github.com/QuantStack/ipycytoscape/blob/b662ec1538564676ffc0c2334ff77dd407a7a1a0/ipycytoscape/cytoscape.py#L226-L230

Compare to the `networkx` method:
https://github.com/QuantStack/ipycytoscape/blob/b662ec1538564676ffc0c2334ff77dd407a7a1a0/ipycytoscape/cytoscape.py#L189

[2020-06-21 22:47] ianhi commented on #98
@blackvvine should be fixed by the linked PR

[2020-06-22 08:05] marimeireles commented on #98
Thanks for the report @blackvvine!

[2020-06-22 08:22] marimeireles opened #100 "The classes attribute should be a mutable list not a string"
As discussed [here](https://github.com/QuantStack/ipycytoscape/pull/99#discussion_r443387389)

[2020-06-22 14:24] #93 closed

[2020-06-22 14:24] #95 closed

[2020-06-22 14:24] #98 closed

[2020-06-22 14:25] marimeireles commented on #95
Thanks!! 🌸🌸🌸

[2020-06-22 14:25] marimeireles commented on #98
& super thanks to @ianhi for fixing it <3

[2020-06-23 11:03] marimeireles opened #101 "Create docs"
Most of our docs come from the cytoscape.js website and I think it makes sense to a certain point since this is mostly a python implementation of their lib. But I think we have enough differences to create our own.

We can use this: https://packaging.python.org/tutorials/creating-documentation/

[2020-06-23 11:34] martinRenou commented on #101
You have a `doc` directory that was generated by the cookie-cutter, it might be just a matter of enabling readthedocs for this repository and starting writing it :)

[2020-06-23 16:27] christiandreher opened #102 "Highlight edges"
Hi!

I want to highlight edges after user input via some widgets. For this I defined a CSS class like:

[code]

I then have some widgets for input and also a cell which looks like this:

[code]

However I cannot get the graph to update interactively. It renders at the beginning as it should, but updating the `classes` attribute has no effect. I also cannot find any `update` function or similar.

I

[2020-06-23 16:38] ianhi commented on #102
On the typescript side there currently isn't anything listening to changes to the attributes of individual nodes or edges which is why this doesn't force an update. So a hacky approach (probably your best bet for now) is to change a graph property that will cause the graph to re-render. Try adding `widget.max_zoom = widget.max_zoom * .9999` to the end of the callback (outside the for loop) and tha

[2020-06-23 20:27] MridulS opened #103 "practical structural issues while manipulating the Cytoscape widget"
- It's possible to have multiple instances of same node/edge in the CyptoscapeWidget.  The following bit of code is perfectly valid.
[code]

- Just deleting a node messes up the entire graph, as deleting a node doesn't delete the edge itself.
[code]
- There is no such thing as an edge id currently (atleast while adding a networkx object?) so the function `remove_edge_by_id` should be something lik

[2020-06-23 21:47] marimeireles commented on #103
Never really noticed that, but you're completely right.
Thanks @MridulS!

[2020-06-24 00:55] MridulS commented on #103
The issues are addressed in #54

[2020-06-24 06:08] christiandreher commented on #102
Great, this works, thank you very much for your quick help!

[2020-06-24 09:33] marimeireles commented on #26
This was fixed by you @ianhi, or am I tripping?

[2020-06-24 09:46] marimeireles commented on #102
Hey @christiandreher, I actually created a fix for this, you can check the #104
It's basically using your code, so it should work too.
Once it's merged I'll create a new release of ipycytoscape so you can get it with conda or pypi.

[2020-06-24 10:58] marimeireles opened #105 "Improve performance for granular change on graph attributes"
This kind of "regression" was introduced on https://github.com/QuantStack/ipycytoscape/pull/104

So what this PR is doing is allowing the user to create granular changes to the graph to the level of each node and each edge, the problem is that to be able to show this result on the frontend the graph must be renderized every time a new change is made.
That means that if you change the `style` of 10

[2020-06-24 11:00] marimeireles commented on #103
This was incorrectly linked to #104 .

[2020-06-24 11:02] marimeireles commented on #28
The rest of these are attended in other issues, so I'm closing this.

[2020-06-24 11:02] #28 closed

[2020-06-24 11:05] marimeireles commented on #46
I think the #56 is dealing with what was the last thing missing to attend here, right @ianhi?
Can we close this and move the discussion to 56?

[2020-06-24 11:06] marimeireles commented on #71
That's cool, it'd be cool to have a menu like this I think.
I think you can also rerun the same cell and get the same result, right?

[2020-06-24 11:10] marimeireles commented on #79
I thought your approach was very interesting, looking forward to merge it! :)
We just have to figure out the problem with the other graphs.

Thank you for the contribution! :cherry_blossom:

[2020-06-24 11:21] marimeireles commented on #75
Yeah, I just tested it and I had never noticed this.
For some reason it only updates the first instance of the graph. I'm thinking if this was a regression of something we done recently, because afai remember we had all the instances of a graph synchronized.
Maybe @wolfv knows why this kind of problem is happening? I created a screen recording of the problem:
![yell](https://user-images.githubuser

[2020-06-24 11:33] christiandreher commented on #102
Hi @marimeireles, awesome, thank you very much for the quick fix. I installed ipycytoscape via pip, so I think I'll just wait for the release. Until then the quickfix works.

One question though, does this now trigger a redraw for each changed class? Because I planned to iterate over all edges and adjust the classes, which would be quite wasteful if it would be redrawn in each loop.

[2020-06-24 12:04] marimeireles commented on #102
Unfortunately that's exactly how it's working.
This is what we have for the current code, every  time you make a change the whole graph is rerendered.
I opened an issue so we could discuss solutions about that #105

[2020-06-24 12:42] christiandreher commented on #105
Why not just set a flag? Do not re-render if it is set, and render once when it is reset? Kinda like a render mutex.

I don't know how to pass the information to the typescript side, but there you could just check for the flag [here](https://github.com/QuantStack/ipycytoscape/pull/104/files#diff-34553059c4dd30c842fd5e8e2e4ff290R239), right?

You'd just have to install a separate event handler for

[2020-06-24 13:54] ianhi commented on #26
I think this error is the result of dictionary being synced back python as the zoom value. So when zoom stopped being synced this error stopped showing up. But zoom still isn't being synced due to the confusions I had in https://github.com/QuantStack/ipycytoscape/issues/66#issuecomment-625866401

This can probably be closed as no code currently present will induce this error.

[2020-06-24 13:59] ianhi commented on #46
Yup!

[2020-06-24 13:59] #46 closed

[2020-06-24 14:06] ianhi commented on #71
Yeah you can but that will also relayout the graph. Better would be to expose https://js.cytoscape.org/#cy.reset A pretty good fix would just to be to add that method to the python object. i.e. python would have

[code]

and in typescript the model adds

[code]
and the views would implement the `reset` method. Then if we also wanted a button the button could just send the same message.

[2020-06-24 14:21] ianhi commented on #105
I think having a context manager is really neat idea. @christiandreher  I think you'd need to put a check for a continuous updates flag here: https://github.com/QuantStack/ipycytoscape/blob/4f2c726c69f5a0622d575cca9bd3c35535ed7fa1/src/widget.ts#L371-L375

then you add a Bool attribute to the python object like this `continuous_updates = Bool(True).tag(sync=True)` and access it in typescript (from

[2020-06-26 04:21] stefco commented on #79
Okay, implemented this in #97. You can now add listeners with the [`CytoscapeWidget.on` method](https://github.com/stefco/ipycytoscape/blob/user-interaction/ipycytoscape/cytoscape.py#L464). You specify the type of widget to listen for (currently "node" or "edge") as well as the type of event to listen for (e.g. "click", though any of the [supported cytoscape.js events](https://js.cytoscape.org/#ev

[2020-06-30 02:18] telamonian opened #107 ""popper" dependency is probably spurious"
On npmjs, "popper" is a package with the goal of supporting "Realtime Cross-Browser Automation", and which hasn't been updated in 3 years: https://www.npmjs.com/package/popper. Thus, the

https://github.com/QuantStack/ipycytoscape/blob/4f2c726c69f5a0622d575cca9bd3c35535ed7fa1/package.json#L61

dependency is probably wrong. This line should be removed from `package.json`.

Just to be safe, I did a

[2020-06-30 02:20] telamonian commented on #107
On a practical level, the line

https://github.com/QuantStack/ipycytoscape/blob/4f2c726c69f5a0622d575cca9bd3c35535ed7fa1/package.json#L61

seems to be causing trouble for my automated procurement software. For whatever reason, it can't seem to correctly read the dependencies (for vuln scanning) of this 3+ year old package. If there isn't a good reason to keep it, can you please remove this dep?

[2020-06-30 16:38] ianhi commented on #107
@marimeireles I think this makes total sense to remove. Relatedly should `@types/cytoscape` be a devDependency instead of a dependency?

[2020-06-30 16:52] telamonian commented on #107
I've opened a PR that removed the "popper" dep over at #108

[2020-06-30 22:28] #102 closed

[2020-06-30 22:28] #105 closed

[2020-06-30 22:36] #107 closed

[2020-07-01 09:56] marimeireles commented on #101
Be specific about the types we receive in ids: https://github.com/QuantStack/ipycytoscape/pull/54/files#r448252899

[2020-07-01 20:44] marimeireles commented on #101
Document all these diff selectors we can use: https://js.cytoscape.org/#selectors

[2020-07-01 20:46] marimeireles opened #110 "Add new add and remove nodes and edges methods to example pool"
We have a bit of a different API for inserting and removing edges and nodes now, it's much better and safer than the last one and I think it'd be cool if we introduced these new methods in an example. It doesn't have to be a new example, could be just editing the ones that are already here.

See https://github.com/QuantStack/ipycytoscape/pull/54 for which methods should be added.

[2020-07-01 20:56] marimeireles commented on #56
See this beautiful API for inspiration: https://js.cytoscape.org/#core/style

[2020-07-01 22:45] MridulS commented on #103
fixed in https://github.com/QuantStack/ipycytoscape/pull/54

[2020-07-01 22:45] #103 closed

[2020-07-02 11:16] marimeireles opened #112 "Fix regressions on examples"
Because we broke backward compatibility some examples stopped working.

- NetworkX example

No real clue on what's wrong after looking at it briefly. I'm under the impression that it broke after merging https://github.com/QuantStack/ipycytoscape/pull/54

- Tip gene example

Apparently the `deepcopy` hack for `set_layout` is no longer working.
That might be because I fixed the synchronization betwe

[2020-07-02 12:05] MridulS commented on #112
@marimeireles https://github.com/QuantStack/ipycytoscape/pull/113 should fix the first issue here.

[2020-07-02 20:39] marimeireles commented on #112
RIght, partially fixed by @MridulS.
The tip gene example is still broken. Will update this in a new version now though.

[2020-07-02 21:20] ianhi commented on #112
There were two issues, both introduced by me.
1. Loading the widget's layout rather than the cytoscape_layout
2. Using the cytoscapejs api you need to also run the api, not just set it

should be fixed by linked PR

[2020-07-02 21:26] marimeireles commented on #112
Right!
Cool! =)
Thank you so much for the catch @ianhi.

[2020-07-03 11:20] marimeireles commented on #112
Fixed.
Thanks people! 🌸

[2020-07-03 11:20] #112 closed

[2020-07-03 11:21] marimeireles commented on #79
Fixed by @stefco, thank you very much =)

[2020-07-03 11:21] #79 closed

[2020-07-03 11:26] marimeireles commented on #85
It works smoothly in my MacOS on Firefox Nightly and on my Chrome.
On linux I can only reproduce the issue in Firefox. Think they're doing something wrong here, might open a webcompat issue.

[2020-07-06 05:14] besito-app opened #115 "ValueError: Can't clean for JSON for networkx nodes that are objects."
Execute the following in a jupyter lab notebook and you'll get 'ValueError: Can't clean for JSON'. I believe this should work, and is a bug. It works fine if I use nx.draw(G) instead of ipycytoscape.

[code]

[2020-07-06 16:45] ianhi commented on #115
Hey @besito-app good catch! Unfortunately custom objects and tuples are valid networkx nodes but don't yet work with ipycytoscape. The underlying issue is the same as https://github.com/QuantStack/ipycytoscape/issues/86. There's been some discussion on how to fix this there as well as:
https://github.com/QuantStack/ipycytoscape/pull/70#discussion_r426533510
and #45 (has a very similar example to y

[2020-07-06 23:08] jaydonnell commented on #115
I'm having the exact same issue. Calling str() on custom objects as @ianhi suggested makes sense to me, but python isn't my primary language so 🤷 . I'm happy to work on a PR if you all think it's a reasonable direction.

[2020-07-07 03:16] ianhi commented on #115
@jaydonnell go for it :)

I think the best way to determine if it's actually a good idea is to see if it does the following:
1. Works for custom classes that implement `__str__`
2. doesn't break any of the existing examples using networkx
    - ideally it will work for all the valid networkx node ids
    - including a notebook with custom classes in the Examples directory would also be rad

 And f

[2020-07-08 01:40] ianhi opened #116 "nodes without any edges do not get added for networkx"
Any node of degree 0 in a networkx graph currently does not get add to the node list.
[code]

gives this output:
![image](https://user-images.githubusercontent.com/10111092/86863316-f23f0600-c098-11ea-828b-8f3aa47d5bb6.png)

So the `lonely` node not getting added to the node list. I think this because this line is commented out: https://github.com/QuantStack/ipycytoscape/blob/139fdcdeec03f689bab6f

[2020-07-08 01:44] ianhi commented on #116
Ah, yes there is a problem with uncommenting it, then the nodes with edges get added twice - once by `add_nodes` and once by `add_edges`. So I think there is an issue with `add_edges` duplicating nodes. The `add_node` method is important because the nodes added by `add_edges` lose all the extra node properties the user might pass (e.g. classes)

[code]

gives:
![image](https://user-images.githubus

[2020-07-08 01:55] ianhi commented on #116
Ok so that line should actually read:
`node_list.append(instance)`

[2020-07-08 03:12] ianhi commented on #87
It's not in the docs but just found the SO answer by the maintainer of ipycytoscape:
https://stackoverflow.com/a/37843786/835607

seems that it is indeed necessary

[2020-07-08 03:13] ianhi commented on #75
For saving: https://stackoverflow.com/a/39173400/835607

[2020-07-08 03:13] ianhi commented on #75
For saving: https://stackoverflow.com/a/39173400/835607

[2020-07-08 03:56] MridulS commented on #115
Is there any specific use case for having custom classes? (unless the idea here is to mirror exactly nx.draw). The `str()` argument will make it work with ipycytoscape but we will essentially lose all the information of the object. (which should be okay if we want to make ipycytoscape compatible with hashable node objects).

If the idea here is to pass information from the Node custom object to th

[2020-07-08 04:15] ianhi commented on #115
Oooh I hadn't thought about subclassing the nodes, that's clever. One issue in your example though is that you've substituted creating the graph in networkx for creating it with ipycytoscape - I think there would need to be checks in the `from_networkx` method to see if the passed node is a subclass of `Node`

I tend to use this library for visualization and prefer to create, manipulate, and analy

[2020-07-08 10:19] #116 closed

[2020-07-08 10:59] marimeireles commented on #115
Ok so yeah, if we stick to the `cytoscape` API we wouldn't really have to care about it and as @ianhi said the

[code]

solution would work. But! I don't really like it, I think it's very limiting and it'd be cool if we could offer full compatibility with Nx specially seeing how many people use it. I'd say 90%+ of the use cases I'm aware of are using Nx somehow, so it'd be useful to aim for a 100%

[2020-07-09 02:50] ianhi commented on #115
I agree that it makes sense to support the subclassing of Nodes. But we also need to fix the issue with Tuples which I think needs a different solution. I added the test cases that currently break to a notebook here:
https://github.com/ianhi/ipycytoscape/blob/f9aa4e2eb722993b1d3ae0c25ec4b111f58c162f/examples/NetworkX%20Example.ipynb

if you scroll down to the "Test other Node Types" section you ca

[2020-07-09 03:00] ianhi commented on #115
Ok how about these changes?: https://github.com/ianhi/ipycytoscape/commit/3ffac242ad6599c97192ab856ed70a293fdbc3bf

That seems to make all the examples work.

One thing that is not clear is what happens if you use a CustomNode and then change the `data['id']` after the cytoscape node has been created. This seems like something to be dealt with in typescript though, not on the python side.

[2020-07-09 04:12] jaydonnell commented on #115
Doesn't this force peoples networkx code to depend on ipyctoscape? As a user I'd prefer to reduce dependencies rather than increase them.

BTW, how do you run the python test suite?

[2020-07-09 17:11] jaydonnell commented on #115
Here's a pull request that coerces the custom node object to str.

https://github.com/QuantStack/ipycytoscape/pull/118

[2020-07-09 18:14] ianhi commented on #115
The test suite doesn't actually have any tests in it.... It would be good check examples though.

Ideally you would be able to use the full networkx api to make you graph and have that work with ipycytoscape. I think what's being proposed is that in addition to that if you want to subclass `ipycytoscape.Node` there will be extra capabilities.

[2020-07-09 22:14] jaydonnell commented on #115
gotcha, sorry, I missed the call to str() in your's the first time i looked at it.

[2020-07-10 14:41] marimeireles commented on #87
Yeah, that's weird-ish.
Maybe we should just ask him, doesn't seem like smth the API should have right?
Thanks for digging this out @ianhi =)

[2020-07-10 14:41] #87 closed

[2020-07-11 15:38] ianhi opened #119 "update install instructions for jupyterlab"
I think two things should change:
1. Mention that nodejs is required
2. don't `labextension install jupyter-cytoscape` as setup.py does this for us:
https://github.com/QuantStack/ipycytoscape/blob/61c4679b07bb820b88a7ede1bdc7c678d9c141b9/setup.py#L49

Maybe use ipympl instructions as inspiration (or just copy them....) https://github.com/matplotlib/ipympl#install-the-jupyterlab-extension

[2020-07-13 22:53] ianhi opened #121 "release 1.0.3"
The currently released version is pretty broken for networkx (no isolated nodes + classes don't work) This was fixed by https://github.com/QuantStack/ipycytoscape/pull/117 but never released.

It would also be good to include https://github.com/QuantStack/ipycytoscape/pull/118 in a release but I think the fixes in #117 are much more critical. For example repos like this one are running into this b

[2020-07-13 23:01] ianhi commented on #121
If you're interested in releasing with via github this jlab-git PR is probably the approach to follow https://github.com/jupyterlab/jupyterlab-git/pull/655

[2020-07-13 23:20] ianhi commented on #71
The infrastructure for this is being worked on in https://github.com/QuantStack/ipycytoscape/pull/109

[2020-07-14 20:24] marimeireles commented on #121
Hey @ianhi, it's not actually hard, as you can see in my release commit here for instance: https://github.com/QuantStack/ipycytoscape/commit/139fdcdeec03f689bab6f56b7744dd253a65d08d

And yeah, looking at your link I think we could do the same. Even though I have no clue on how to use this github action thing. Like how to trigger and stuff, but might be cool to learn!

We have to install the pertin

[2020-07-16 03:16] ianhi commented on #121
For sure it would be! Maybe that should get it's own issue?

@marimeireles do you think we should deal with #118 before a small release so that all of networkx works? Or is #117 reason enough (I'd vote that it is), or that we should wait for other things?

[2020-07-17 10:18] marimeireles commented on #121
Probably!

Will do it now, it's not a lot of work anyways =)

[2020-07-17 10:31] marimeireles commented on #121
Ok, the pypi version is out, in a few minutes we should have a conda too! :)
Thanks @ianhi

[2020-07-17 10:31] #121 closed

[2020-07-17 17:13] ianhi commented on #121
hooray! thanks

It would be cool to have tests that would prevent errors like the one that broke networkx classes/lonely nodes.

[2020-07-17 17:17] ianhi opened #123 "Add tests"
Currently the only checks run on PRs are if the widget builds and that it passes eslint. We should add unit tests to prevent issues like: https://github.com/QuantStack/ipycytoscape/issues/116

[2020-07-18 16:44] Shivam-Miglani opened #125 "Bug: Multiple edges between same nodes not shown"
For a graph with edges
A,B, weight=15
B,A, weight=10

Only the first edge object is retained in the  `add_edges(self, edges, directed=False)` method, which is wrong behaviour.

This `add_edges` method is used in `add_graph_from_networkx` method, which leads to deletion of certain edges from networkx graph.

![image](https://user-images.githubusercontent.com/13565604/87857378-807f7b80-c926-11ea-87e

[2020-07-18 16:46] Shivam-Miglani commented on #125
Setting `directed = True` exhibits the same (wrong) behavior.

[2020-07-18 17:02] ianhi commented on #125
Good catch!

This looks to be due to this line: https://github.com/QuantStack/ipycytoscape/blob/72b73c6a8bd4d352bfcf97c71a24036b1524573e/ipycytoscape/cytoscape.py#L273-L274

This was added to prevent accidental duplication of edges but it has the unfortunate consequence of preventing intentionally having multiple edges between nodes. I'm not sure what the best way to deal with this is, @MridulS wh

[2020-07-18 17:09] ianhi commented on #125
I guess the issue with duplication is really that we shouldn't duplicate nodes if the nodes already exist, but we should allow multiple edges between two nodes even if the edges have all the same properties.

[2020-07-18 17:30] Shivam-Miglani commented on #125
@ianhi I think you need a different id other than `source` or `target` for nodes because the same node can act as source as well as target.

 In the example,
`G.add_edge(1,2,weight=15)` makes node1 as source and for `G.add_edge(2,1,weight=10)` it doesn't change it to target; that is why the edge isn't added.

I haven't run the the code, but this is what I can fathom.

[2020-07-18 17:57] MridulS commented on #125
Ahhhhh, my bad. I thought I fixed it. Thanks for the catch @Shivam-Miglani!

https://github.com/QuantStack/ipycytoscape/pull/126 should fix it.

and yes you would need to pass it `directed=True` currently while creating the Cytoscape graph object as we don't infer the type automatically. (maybe we should?)

The following code should work.

[code]

[2020-07-18 18:01] ianhi commented on #125
@MridulS I'm not sure that totally solves the problem because it does not allow multiple non-directed edges between nodes.

I think there may also be a philosophical question here about what the result of:

[code]
should be.

It could be
**1:** New edges but not new nodes
![image](https://user-images.githubusercontent.com/10111092/87858797-8d887480-c8fe-11ea-9755-10ce331f4a2b.png)
**2:** no duplic

[2020-07-18 18:11] Shivam-Miglani commented on #125
@ianhi imo, it should be 3, because it should represent whatever networkx graph I have passed last.

However, if my nx graph is `MultiGraph` or `MultiDiGraph', then multiple edges should be allowed from `add_edge` methods.

[2020-07-18 18:13] MridulS commented on #125
IMO it should be 3, and that's why I raised the idea of having a clear graph method whenever `add_graph_from_networkx` is called. This is an API design decision if `add_graph_from_networkx` is supposed to be used successively or not, I feel we should relegate the graph manipulation to functions like `add_node`, `add_edge`, we shouldn't use `add_graph_from_networkx`  to manipulate the graph object.

[2020-07-18 18:35] ianhi commented on #125
That's a very good point - and figure 2 is what neither of us would expect :joy: so that's not optimal.

I'm wary of that because there is currently no easy way to pass those functions a networkx object, you have to first create an `ipycytoscape.Node`.

To me the `add` prefix implies that I should be able to use the function successively. Being able to call `add_node` successively but not `add_fro

[2020-07-18 18:39] ianhi commented on #125
The undirected graph in the examples may be a good test case here. I think being able to add a second disconnected graph by way of networkx without having to separately create `ipycytoscape.Node`s is important to be able to do. Though the api of using `add_from_networkx` doesn't necessarily need to be the way to accomplish that.
![image](https://user-images.githubusercontent.com/10111092/87859575-

[2020-07-20 16:08] MridulS commented on #125
We don't really need to do that. We just need to make the second component have different underlying nodes, but by default all the graph generators in networkx will result in nodes like `[0, 1, 2, 3, 4, ....]`. All of our examples use networkx generators but people would be using their own data and if the networkx object they have created have the different components it will work with ipycytoscap

[2020-07-20 18:02] ianhi commented on #125
@MridulS I don't think I fully understand sorry. Could you post what you would expect the the outcome of your latest example to be?

[2020-07-20 18:09] MridulS commented on #125
This is what I expect **and** what I get using the current master branch of ipycytoscape , successive `add_graph_from_networkx()` work here without any issues as there are no repeated nodes. The checks in `add_nodes/add_edges` will only come into picture when the user tries to add a duplicate node/edge in the graph.
<img width="617" alt="Screenshot 2020-07-20 at 23 35 56" src="https://user-images.

[2020-07-20 18:41] ianhi commented on #125
Got it thanks! This is also what I would expect and what I was trying to convey with:

I agree that duplicate nodes should **not** be added by successive calls. I was just also considering if adding the same graph over and over again should allow for more edges to be added. Though on further reflection with y'all's examples I agree that this seems less principled.

As for the types of graphs suppo

[2020-07-21 02:54] ngthanhvinh opened #127 "Add tooltips to edges"
Hi, I wonder if there is a way to add tooltips to edges (to display edge weights in particular)? Right now, I can only display edge weights explicitly by styling `content: data(weight)`. I also have tried `set_tooltip_source` but it only works with nodes.

[2020-07-21 03:14] ianhi commented on #127
Hi @ngthanhvinh good question! Sadly the answer is currently no, but it should be possible to get this working. If you or anyone else would like to have a go at implementing this I think a good approach would be to take the node tooltip code on the frontend side and generalize it work with edges as well. That code lives here:
https://github.com/QuantStack/ipycytoscape/blob/72b73c6a8bd4d352bfcf97c7

[2020-07-21 03:16] ianhi commented on #127
Actually an even simpler solution is probably to just have the event listener listen to all clicks by changing the line to ` this.cytoscape_obj.on('click', (e: any) => { ` see cytoscapejs docs here: https://js.cytoscape.org/#cy.on

[2020-07-21 18:00] #115 closed

[2020-07-22 16:45] ianhi commented on #125
Another thing to consider is how this will work with the from `from_json` and `from_df` methods. Maybe instead of checking if `directed` was passed to `add_edges` it should have an argument like `allow_duplicates` (`allow_parallel_edges`?) that defaults to false but could be set as appropriate by the various `from_*` methods.

[2020-07-22 17:08] marimeireles opened #128 "To have a 100% test coverage on ipycytoscape"
From @ianhi comment's:

Still needed:
- [ ] json graph creation
- [ ] df graph creation
- [ ] tests for `CytoscapeWidget` methods
- [ ] Tests of adding interaction callbacks
    - will require using the mocked comms to fake a message.
- [ ] typescript tests (need to expand on this and be more specific, please feel free to contribute to this issue with test ideas!)
    - maybe use karma-typescript

[2020-07-22 17:13] marimeireles commented on #125
My 10cents in this discussion is that I agree with both of you and we should think on expanding to have multigraphs and so on.
I didn't think of these ideas when we were talking before about adding this clean graph method @MridulS but yeah, it makes total sense to have this division and the things you said here https://github.com/QuantStack/ipycytoscape/issues/125#issuecomment-660520508
I think it

[2020-07-22 17:32] ianhi commented on #128
This was just to note that these mocks already exist from the cookiecutter.

These have been updated a bit since ipycytoscape was created in order to get them pass. Should be based on the content here:
https://github.com/jupyter-widgets/widget-ts-cookiecutter/tree/master/%7B%7Bcookiecutter.github_project_name%7D%7D/tests

[2020-07-22 17:34] ianhi commented on #125
Something that would be very helpful would be to define many possible situations, agree on what we think should be expected from them, and then figure out how to make that happen rather than make piecemeal changes. There are some examples in this thread already but I think there are a few more to include (e..g json) and we should put them all into one comment in  a table or something

[2020-07-22 18:41] ianhi commented on #128
pre 100% I think we should focus on having tests for the methods to create the graph as these have definitely been the source of pretty much all new bugs. Networkx had the most bugs so made those tests first. With first set of tests the coverage looks like this: https://codecov.io/gh/quantstack/ipycytoscape/src/0079bf2768036df4435c7d10e3927d9e7de19b34/ipycytoscape/cytoscape.py

So we should also a

[2020-07-23 06:46] #123 closed

[2020-07-23 18:51] MridulS commented on #125
Maybe we should add `directed` and `multiple_edges` as function arguments in `add_*` function signatures. This way we can support MultiGraphs with mixed edges, (directed and undirected). If we infer types directly from the networkx object we will lose out on mixed edges as networkx doesn't support that, IMO ipycytoscape shouldn't be limited to that. (I like seeing directed and undirected edges in

[2020-07-24 18:18] ianhi commented on #127
fixed by @ngthanhvinh in #130 !

[2020-07-24 18:18] #127 closed

[2020-07-24 18:47] ianhi commented on #86
fixed by #118

[2020-07-24 18:47] #86 closed

[2020-07-28 16:29] ianhi opened #132 "update copyright to ipycytoscape contributors"
Most of the copyright statements currently say Mariana Meireles, although @marimeireles has added my name to a few of them :)

However at present there are 16 people who have contributed to this repository so I propose to change all the copyright statements to read `ipycytoscape contributors` following https://github.com/jtpio/ipylab/pull/47

[2020-08-01 19:26] MridulS commented on #125
Let me know if https://github.com/QuantStack/ipycytoscape/pull/126 is mergeable. Once that is done I can get the MulitGraph support in.

[2020-08-03 04:07] ianhi commented on #125
@MridulS some experiments really took over my life for the last few weeks sorry about that!

Agree about not limiting but can we use inference to get a benefit of making it easier sometimes without limiting what is possible? I.e. if I pass a networkx multigraph can it then default to `multiple_edges=True` but have all those edges be undirected, and a `MultiDiGraph` would automatically set both fla

[2020-08-06 16:33] marimeireles commented on #132
Yeah, that's a great idea :)
Let's do this!

[2020-08-09 21:14] #132 closed

[2020-08-11 14:59] bdelepine opened #135 "Python Warning if ipycytoscape extension is not found?"
Hi all,

I would like to suggest the addition of a warning when ipycytoscape fails to find its jupyter notebook extension.

I was unable to run the [Cola notebook example](https://github.com/QuantStack/ipycytoscape/blob/master/examples/Cola%20example.ipynb) (or any other one) as ipycytoscape widget failed to be displayed. There was no Python traceback (nor error, nor warning) when the cell suppose

[2020-08-11 15:01] SylvainCorlay commented on #135
@bdelepine this is a great summary. We have looked into setting up a placeholder widget when a widget module is missing.

This is currently done in a PR to Voilà, but we think this could become core to ipywidget in 8.0.

[2020-08-12 17:31] joseberlines opened #136 "examples of ipycytoscape from Networkx not working"

[2020-08-12 17:35] #136 closed

[2020-08-12 17:36] marimeireles commented on #136
Hey @joseberlines is everything okay?
The examples are actually working? Thanks!

[2020-08-12 17:40] joseberlines commented on #136
Sorry, I am like a bit of a beginner, I wanted to completly delete the issue but was not able. I am sorry for disturbing. All working now. I realised my ipycytoscape was old version

[2020-08-12 17:41] marimeireles commented on #136
It's fine!
No problem at all :)
I was afraid we were lacking behind in our versions because there's been a while since we released one.
Feel free to ask questions!
Cheers.

[2020-08-12 17:43] marimeireles commented on #135
So, we shouldn't worry about this now and wait for the ipywidget fix? Or is it worth it to look what you did on voila and reproduce it here?

[2020-08-12 18:15] joseberlines commented on #101
Just posting this here since I am looking for examples and documentation in google about ipycytoscape. I think the documentation for a graph library would include the jpegs (or gifs) of the resulting graphs. this is extremely useful for learning. As beginner with ipycytoscape I would suggest to include in the documentation (or also here in github) an approach like the one @martinRenou uses for ipy

[2020-08-13 12:14] SylvainCorlay commented on #135
I don't think this is in scope for ipycytoscape to fix this, as this is a general issue with widget libraries.

[2020-08-14 08:29] bdelepine commented on #135
I agree that a warning handled at the ipywidget level would fix the issue (and would be more elegant).

In the meantime, maybe we could mention something in ipycytoscape install instructions to make sure users are aware that a jupyter notebook extension will be installed along the ipycytoscape package?  This is kind of obvious in retrospect... but I clearly missed that part when I first installed

[2020-08-14 23:23] ianhi commented on #101
I'm feeling inspired and plan on making a first pass a creating docs this weekend. While I think I have the rights to create to enable readthedocs I think it makes more sense for quantstack employee to do that? This is relevant for the initial documentation because it would be great to add https://docs.readthedocs.io/en/stable/guides/autobuild-docs-for-pull-requests.html to PRs so that everyone ca

[2020-08-15 11:16] JohanMabille commented on #101
The project on readthedocs already existsuser:JohanMabille but the build is still failing due to an issue in installing some dependencies fo rbuilding the documentation. THis is why the webhook has not been plugged yet.

However, the skeleton for building the documentation locally is in the repo, so maybe you can start to write the doc and check the rendering locally?

I will make a pass on the do

[2020-08-17 08:55] marimeireles commented on #101
That's a really good idea @joseberlines! As Johan said we're having a problem with it

Yeah, not sure if I can grant you permissions @JohanMabille because I was the one who created it, but let me know and I can change that.

We're having this issue right now and I'm investigating it:
[code]

If you wanna contribute to the docs and not build them, you can. You just have to add `.rst` files to the d

[2020-08-17 08:59] marimeireles commented on #135
That's a great idea @bdelepine, are you interested in making this contribution yourself? Since you had the problem maybe you can explain it better?

It'd be much appreciated.
Thanks for the bug report :)

[2020-08-17 09:03] JohanMabille commented on #101
I don't think I need any permission on RTD actually, I think we need to fix the config in readthedoc.yml / docs/environment.yml

[2020-08-17 13:55] ianhi commented on #101
Ah I see. I meant to suggest two thing originally
1. Enable RTD (done :smile: )
2. Enable autobuild on PRs

With 2. it adds a check to all PRs that will build on RTD so you get confidence about whether it build. Also, if it built successfully, it then allows everyone to view the rendered version pre-merge.
![image](https://user-images.githubusercontent.com/10111092/90402729-dfdbc300-e06d-11ea-84ab

[2020-08-17 16:20] marimeireles commented on #101
Oh nice! Thanks @ianhi you're great as always :)
Don't know much about read the docs at all. Just enabled it.

[2020-08-18 09:09] marimeireles commented on #101
Ok, so I tried for a while last night. Don't really know what's going on here.
[code]

I'm getting this error as if I was using an older python version than 3.5 but I'm actually using 3.6.
It works when I build on my computer, but doesn't when I build on rtd. I think I'll open an issue in this sphinx repo.

[2020-08-18 09:30] marimeireles opened #144 "Contribute your dashboard!"
Hey community!

@ianhi and I will present a talk about ipycytoscape on this year's JupyterCon. Just by interacting with you through github I could see that we have some users with amazing user cases. You use ipycytoscape in ways that I could never imagine myself.

If you can and you're interested in sharing a little bit of your workflow and how do you use ipycytoscape with us, it'd be amazing! Of

[2020-08-18 09:30] marimeireles commented on #144
(ping @stefco I remember being amazed by how different ipycytoscape used in your screencasts)

[2020-08-18 13:24] ianhi commented on #101
Maybe this line in readthedocs.yml is messing us up?
https://github.com/QuantStack/ipycytoscape/blob/112d0b207482629e2e0f8f17acac040dece86571/readthedocs.yml#L2

in mpl_interactions I explicitly set it to 3.7 https://github.com/ianhi/mpl-interactions/blob/2d53804acf46bd5b5c245e5e31b0d3b94c0daac2/readthedocs.yml#L3

[2020-08-18 13:41] marimeireles commented on #101
Hum! I thought I had changed that one too.
Thanks for the catch! Will try to set this one too.

[2020-08-18 14:08] marimeireles commented on #101
Sorry, I did change there, I'm running tests on the `docs` branch because I'm still waiting for Sylvain to activate the hooks necessary to connect rtd with github.

[2020-08-18 14:29] marimeireles commented on #101
Oh sweeet https://ipycytoscape.readthedocs.io/en/latest/
We finally have it running again!
@joseberlines please feel free to contribute with what you know, it'll be much appreciated! As I said I'm available to talk if you need anything.

[2020-08-18 17:22] stefco commented on #144
@marimeireles I'd love to share! I can take some video of the pipeline/full interface in use, show some data products, summarize the use case, write a bit about the wonderful experience I had contributing to ipycytoscape--whatever you like. What's the format/what kind of contribution would you like.

I'm developing some image compression/analysis tech that I'd like to spin off into a startup (or a

[2020-08-19 00:23] MridulS commented on #125
Initial support for multiple edges https://github.com/QuantStack/ipycytoscape/pull/146

[2020-08-19 08:55] marimeireles commented on #144
Hey @stefco! That's awesome! Thank you so much!
So, I think for the talk format it'd be interesting to have either screencasts or screenshots of your dashboard and a summary of the user case. I'm also interested in learning why did you choose ipycytoscape specifically and yeah, anything else you wanna add would be a cool bonus! :) I'm always interested in learning more about the community.

And th

[2020-08-19 14:43] stefco commented on #144
@marimeireles It's not my cyto use case, just what i'm currently working on. If you're introducing people, I would mention that as my current project.

My actual cyto use case, which is what i would present on, is a control panel for my [low latency multi-messenger astrophysics analysis pipeline](https://multimessenger.science), showing a full file dag with pipeline steps as nodes and dependencies

[2020-08-19 15:55] marimeireles commented on #144
That's amazing!!!
@ianhi do you have an input here? Any idea for this kind of contribution?
I think we could show something shorter in the presentation (2mins seems like a good time window, what do you think?) and then we can leave a link in the slides where people can find more information about the projects.

And then @stefco you're free to add info about your startup project there.
If it's anyh

[2020-08-19 15:56] marimeireles commented on #144
Also, maybe @MridulS is also using ipycytoscape to do cool graph things?

[2020-08-19 16:17] MridulS commented on #144
not really 😅

I'm just playing around with ipycytoscape right now :)

[2020-08-19 16:18] marimeireles commented on #144
Still appreciated! :p

[2020-08-20 18:13] stefco commented on #144
@marimeireles cool, I'll work on something over the weekend and send early next week! Yeah, I would put info about current/future work somewhere and link to it. It's orthogonal to the presentation.

Do you want *just* a screencast or should i make a summary slide as well? I think having both is nicest but it's up to you what fits in best. Happy to send a slide in powerpoint/pages/sheets (whichever

[2020-08-24 14:12] marimeireles commented on #144
Hey @stefco I'd be happy to get some summary from you of course! :)
Thank you very much. Once the slides are done I'll send you a copy for you to approve (before the talk).

[2020-08-27 14:57] marimeireles opened #147 "Add stackoverflow flag on readme"
José is going to create a tag for us :)
So just as a reminder: https://stackoverflow.com/questions/tagged/ipycytoscape
We can add this [![StackOverflow](https://img.shields.io/badge/stackoverflow--orange.svg)](https://stackoverflow.com/questions/tagged/ipycytoscape)

[2020-08-27 19:32] rchurt opened #148 "Support for ipycytoscape in Google Colab"
Hello,

I've been hoping to use `ipycytoscape` in [Google Colab](http://colab.research.google.com/) for a while, and it looks like it's finally possible now that Colab has started [supporting custom widgets](https://github.com/googlecolab/colabtools/issues/498). Specifically, as @blois explained, "Colab recently started exposing Jupyter Comms channels so custom visualizations can use them for comm

[2020-08-29 14:58] joseberlines commented on #147
Hi there, it will take a while still:
https://stackoverflow.com/help/privileges/create-tags
I don't have enough points yet. I thought with 1000 its enough but :-(

[2020-08-29 15:02] joseberlines commented on #119
Also mention please what happens with ipycytoscape and Jupiter lab, and Voila. i.e. some of us want to deploy dashboards with voila and a couple of words in the installation about what to take into

[2020-08-29 15:06] joseberlines commented on #101
Hei @marimeireles Wonderfull. I am going this weekend over all the examples. I consider myself a beginner and I will give some feed back, if I consider that the notebooks I create are of use I will sent some to you. My main point here is that a beginner might start at the same beginner position learning about graphs and about plotting them. So for instance something that I considered should be par

[2020-08-29 15:34] ianhi commented on #119
Is installation different for voila? I'm a little bit confused as the voila docs seem to be slightly contradictory between:
https://voila.readthedocs.io/en/stable/using.html#the-example-notebooks
and
https://voila.readthedocs.io/en/stable/using.html#using-third-party-widgets-with-voila

but it seems as though it ought to just work with voila?

[2020-08-29 15:36] joseberlines opened #149 "create graph from pandas data frame"
Playing around with example:
https://github.com/QuantStack/ipycytoscape/blob/master/examples/Labels%20example.ipynb

I have been thinking if it would be worth to implement a solution that would create a graph out of a pandas data frame.

The nature of a graph is not easily represented as table, but for some straight forward cases might be useful since in data science we are all confronted with pan

[2020-08-29 15:41] ianhi commented on #149
Hey @joseberlines happily mariana has already implemented this! Check out the DF example:
https://github.com/QuantStack/ipycytoscape/blob/master/examples/DataFrame%20interaction.ipynb

[2020-08-29 15:42] ianhi commented on #101
@marimeireles which branch should documentation be going into? The master branch or the docs branch?

[2020-08-29 15:45] ianhi commented on #147
I'm also a bit short of the required 1500. Is it possible to watch SO for a specific term anyway? I see y'all have been active asking + answering questions already! Did you just regularly search SO for ipycytoscape or do something fancier?

[2020-08-29 15:54] joseberlines commented on #147
I just look for "ipycytoscape" particular problem/solution/tutorial ... having a tag in stack overflow helps above all to follow the tag.

[2020-08-29 16:05] ianhi commented on #148
Hi @rchurt, I agree that this would be great! Unfortunately, my reading of the linked issues is that this is more of a google colab problem than an ipycytoscape problem. I think the suggestion in those threads is that with the new colab support for comms you can work around colab not supporting widgets by injecting javascript via `IPython.display.javascript`. However, I think you'd need to inject

[2020-08-29 16:07] joseberlines commented on #149
Hi @ianhi thanks for the answer. If that is already implemented then there is a bit of info missing in the example.
I am thinking about this:

Node name | Label | Color node | Edges | edge_colors | Label edges | Thickness edges
-- | -- | -- | -- | -- | -- | --
Mallorca | MNLL | red | Berlin | blue | fly | 34
Berlin | BE | Blue | Paris | green | road | 4
Paris | PA | black | London,Berlin | Yellow

[2020-08-29 16:14] ianhi commented on #149
Yeah, unfortunately the `from_dataframe` method currently doesn't look for every possible attribute. For example, for Nodes it only looks for what other Nodes it is connected too, and what the tooltip should say.

https://github.com/QuantStack/ipycytoscape/blob/c1e002b52fab0db65136502e5ff09371ffa5ff55/ipycytoscape/cytoscape.py#L470-L471

This is has been implemented for both JSON and networkx but

[2020-08-29 16:24] joseberlines commented on #64
@ianhi, thanks for open. Jsons are of course typical python data but it is not feasible to work with data in json form for calculations etc, so once df is there it would be straight forward to create a graph. Perhaps the way around is create a networkx from the DF and then the plot via networkx. but there again I don't know how many atributes are taken from the networkx. Actually I guess networkx

[2020-08-29 16:29] joseberlines commented on #149
The idea here being also for the user not having to touch any CSS or HTML code. I see ipycytoscape as part of the ipywidgets family. The idea is not needing to touch CSS and HTML and being able to deploy dashboards with voila with just one language, python.

[2020-08-29 21:32] blois commented on #148
It depends on how much Javascript is needed- some libraries will directly inject the javascript using `IPython.display.javascript` as you mention- it may not be elegant but it does ensure the notebook is self-contained and can be viewed by all users at a later time. Other libraries such as Bokeh and Plotly use CDNs to host versioned copies of the libraries. They typically offer some configurabilit

[2020-08-29 21:39] timkpaine commented on #148
jupyterlab extensions that dont rely on jupyterlab-specific windowing or apis should work out of the box, which includes most ipywidgets based libraries.

[2020-08-29 21:39] timkpaine commented on #148
e.g. ipycytoscape exports jupyter notebook compatible js assets here: https://github.com/QuantStack/ipycytoscape/blob/master/webpack.config.js#L19

[2020-08-29 21:40] timkpaine commented on #148
in general though, google colab is a proprietary product and if the onus is really on google to support what the open source community deems as standards

[2020-08-29 21:54] blois commented on #148
I am definitely open to suggestions on improving the situation- some background can be found at https://github.com/nteract/nes/tree/master/portable-widgets.

I'm not sure what the standards are here- I don't think there's any feasible way to make JupyterLab extensions work outside of JupyterLab. If there is no desire to support anything other than JupyterLab then that is fine. You can see my goals

[2020-08-30 01:46] rchurt commented on #148
Thanks for all the helpful discussion! I think [this](https://github.com/Quansight-Labs/jupyter-output-spec) link from @blois describes the problem well--`ipycytoscape` folks, what's your current approach to offering support for multiple platforms (nteract, voila, nbconvert, etc.)?

[2020-08-30 18:28] marimeireles commented on #147
Yeah, after shortly using stackover flow as an active user I have to say I really disliked their community and rules, most of my interactions were very unpleasent.
I think it's good to have it as an option, but I'll make it clear on the README that people should feel comfortable to ask questions either here or in the Gitter channel.

[2020-08-30 18:40] marimeireles commented on #101
Thanks a lot @joseberlines!
@ianhi, you can open a PR to the master. I think the read the docs website should be connected with the ipycytoscape docs, so they should build every time you open a PR now. To build locally to test you can follow this [quick start](https://docs.readthedocs.io/en/stable/intro/getting-started-with-sphinx.html#quick-start). Feel free to change whatever you want, whatever

[2020-08-30 18:45] marimeireles commented on #119
I remember running some simple tests on voilá with ipycytoscape. I think I just followed: https://voila.readthedocs.io/en/stable/using.html#the-example-notebooks
We could also add a session in the readme for that, though. Or you think might be out of scope @ianhi ?

[2020-08-30 21:35] marimeireles commented on #148
@blois
You mean that extensions that run in the notebook can be used in colab but the ones that only run on jupyterlab can't?

My take on this is that I'd like to have ipycytoscape supported to colab because I think it'd be beneficial for the community but I have to agree with @timkpaine, colab is a proprietary product and the onus to support it belongs to google. Also, if I was to make these chan

[2020-08-30 21:47] marimeireles commented on #149
Thanks for the reply @ianhi, I completely forgot about this. I reopened the issue! :)
It should be an easy fix!

@joseberlines, what you mean is that you would like to set the color of the nodes and edges based on what's written on the columns, right? (That's an amazing idea! Never thought of that).

[2020-08-30 21:48] marimeireles commented on #64
For one to fix this issue they basically have to copy paste the code pointed by Ian here: https://github.com/QuantStack/ipycytoscape/issues/64#issuecomment-645064201

[2020-08-30 23:02] joseberlines commented on #149
yes @marimeireles, in this way you can basically work with pandas and create the conditional formatting all in pandas. for instance
pseudocode:
[code]
you have totally power to redefine the characteristics of the graph without getting out of the pandas world. This is actually something related to a suggestion I made related to ipysheet,
https://github.com/QuantStack/ipysheet/issues/173

Same philo

[2020-08-31 03:38] ianhi commented on #119
I think we should include a page in the docs on how to do this. That seems like the best place for long form tutorials

PR of docs coming tonight!

[2020-08-31 03:51] ianhi commented on #101
btw @marimeireles I added the readthedocs as the website for the repo so it will show up on the right of the github page
![image](https://user-images.githubusercontent.com/10111092/91681183-97b3aa80-eb1b-11ea-8630-9399d538e384.png)

And how do you feel about changing the description to read something like:

Interactive graphs visualization in Jupyter Notebooks using cytoscape.js

[2020-08-31 03:54] ianhi commented on #101
https://github.com/QuantStack/ipycytoscape/pull/150 should go most of the way to having useful documentation. Some things that the docs will still need:

- [ ] A single, long form, example showcasing the different layouts
- [ ] A monolithic "how to style" tutorial
- [ ] Autogenerated API page
- [ ] General clean up of the examples with more explanations
    - e.g. networkx example is confusing wit

[2020-08-31 16:25] ianhi commented on #101
One more issue. The custom node part of the networkx examples raises an error:
https://ipycytoscape.readthedocs.io/en/latest/examples/networkx.html#Custom-networkx-Node-Objects

bc the example uses functionality on master but that is not in the latest release 1.0.3.

maybe we should have readthedocs install the master branch instead?

Also, maybe a new release?

[2020-08-31 16:27] marimeireles commented on #101
I really don't know what's the protocol here. But I'd be fine with that, don't see any immediate problems.

Will do :)

[2020-08-31 16:30] ianhi commented on #101
for mpl-interactions I don't use environment.yml and just have read the docs run `pip install .[docs]` and that seems to work pretty well. See here: https://github.com/ianhi/mpl-interactions/blob/master/readthedocs.yml

[2020-08-31 16:31] ianhi commented on #101
:tada: :tada: - I guess it also is worth removing the pinned version in docs/environment.yml otherwise rtd won't pick up the newest change. Or else swapping to the pip strategy for rtd

[2020-08-31 16:46] marimeireles commented on #101
Yeah, I think there are many different ways of achieving this. Apparently the [recommended way by rtd](https://docs.readthedocs.io/en/stable/guides/specifying-dependencies.html#specifying-a-requirements-file) is using a `requirements.txt` file, I don't really know what's the difference from that to using a yml, but yeah, I'd be up for using the same as mpl-interactions too, if you think it works b

[2020-08-31 18:18] #125 closed

[2020-08-31 18:19] ianhi commented on #125
Thanks to @MridulS for fixing this! Fixes for this will be included in any release >1.0.3

[2020-09-05 03:56] ianhi opened #155 "add allcontributors to readme"
see https://allcontributors.org/
This is nice because it allows recognizing people who contributed ideas, or documentation, or anything else that is not easily packaged as a git commit.

for example:
- https://github.com/jupyterlab/jupyterlab-git#contributors-
- https://github.com/ianhi/mpl-interactions#contributors-

This would require installing the bot https://allcontributors.org/docs/en/bot/in

[2020-09-05 03:58] ianhi commented on #135
This looks like it will become part of ipywidgets core: https://github.com/jupyter-widgets/ipywidgets/pull/2960

[2020-09-14 14:24] marimeireles opened #161 "We need more than just pandas to run examples"
https://github.com/QuantStack/ipycytoscape/blob/75306cf69b1d1ded1ab4bd6b9d08308d1871b757/setup.py#L107

[2020-09-15 16:20] marimeireles commented on #161
The person working here should add the other stuff we need on setup.py!
Thanks!

[2020-09-15 17:49] marimeireles commented on #144
Hey @stefco any progress on this?
We have until the end of this week to put everything together. Anything you contribute would be super cool. If the screencast is too much, your user cases with a few screenshots would be fine too.
But no stress if you can't make it either!
Thanks for all :)

[2020-09-15 18:33] ianhi commented on #161
I'm a little confused. What are we missing beyond pandas? `pip install ipycytoscape[examples]` will install both whats in `install_requires` as well as `pandas`

[2020-09-23 10:16] marimeireles commented on #161
Hum! But we still need stuff like matplotlib for example.
And shouldn't everything we need to run the examples be under the [examples] tag?

[2020-09-23 15:16] ianhi commented on #161
I thought matplotlib wasn't needed to run the examples? For example, the tests run all of the example notebooks without it. Agree that it would be nice to have that available if all you did was `pip install .[examples]` though!

[2020-09-24 15:40] marimeireles commented on #161
Maybe I'm ttly tripping. :)

[2020-09-30 09:41] marimeireles commented on #101
Thanks for the input folks.
Hacktoberfest ppl, please see as a reference:
https://github.com/QuantStack/ipycytoscape/issues/101#issuecomment-683535556
https://github.com/QuantStack/ipycytoscape/issues/101#issuecomment-685963206

[2020-09-30 16:06] marimeireles commented on #149
This might be a good example for people willing to try it on hacktoberfest.

[2020-09-30 16:10] marimeireles commented on #128
I think we covered these:
[code]
Right @ianhi ?
Also, do you know any example we can copy for

[2020-09-30 16:12] marimeireles commented on #56
This can be done in many parts. One attribute you add will already help! ;)

[2020-09-30 16:48] ianhi commented on #128
I don't thnk we have. We've just added more complete tests of the possibilities with networkx https://github.com/QuantStack/ipycytoscape/blob/master/ipycytoscape/tests/test_graph_creation.py

`json` is probably the easiest thing for someone to get started on.

Not off the top of my head. I think we would need to make `Mock` events and feed them in. But if anything this would make more sense on the

[2020-09-30 16:50] ianhi commented on #101
And there are instructions for how to build the docs locally! See https://ipycytoscape.readthedocs.io/en/latest/contributing.html#documentation

[2020-10-01 01:06] ianhi commented on #81
A good first step towards this would be to replace the values used in these lines:
https://github.com/QuantStack/ipycytoscape/blob/e46b6eba0468c1c87597cf85ad872f1d86301a04/src/widget.ts#L425-L429
with `this.model.get(...)` statements. On the python side these values could be defined on the cytoscapeobj using traitlets similarly to these lines:
https://github.com/QuantStack/ipycytoscape/blob/e46b6e

[2020-10-01 01:09] ianhi opened #165 "autoformat Python using black"
We already autoformat the typescript, I propose we autoformat the python using https://github.com/psf/black. This allows for a consistent style and can help improve code readability.

As an example here is the PR where this was added to jupyterlab-git https://github.com/jupyterlab/jupyterlab-git/pull/763

@marimeireles  what do you think?

[2020-10-01 08:12] marimeireles commented on #81
It'd be cool to have an API for that. But for now I think they're just plain ugly and we should change it, even if it's hard coded.
The reason why I didn't add a good first bug here is because I tried to do this a long time ago and none of these options worked. I don't remember if I ever understood what the issue was. I think that was why I wanted to updated to newer versions of tip.

[2020-10-07 19:56] joseberlines commented on #149
Hi, can someone tell me about hacktoberfest? where? how? thanks

[2020-10-09 14:59] tmontana opened #170 "Adjust the height of output graphs"
Hi.  I have a graph with many nodes and I'd like to be able to see it in full.  by changing

out=widgets.Output(layout={'width': '800px',
            'height': '800px','max_height':'100%',
            'border': '1px solid black'})
out.display(cyto)

I get a bigger box for my graph but when I move the graph inside the box it gets cut in half (meaning the graph is limited to 400px no matter what).

[2020-10-09 15:29] ianhi commented on #170
The `cytoscape` object defines it's own dimensions in terms of pixels independent of it is parent element (in this case an output widget). Because the output widget and the cytoscape object are separate widget objects that don't really know how to talk to eachother changes will no propogate from one to the other. So you also need to modify the width and height. YOu can do that like so:

[code]

Th

[2020-10-09 16:28] tmontana commented on #170
Hi ianhi.  Works great now - Thanks a lot for the tip!

[2020-10-11 19:38] marimeireles commented on #149
Hey @joseberlines sure! :)
It's an online global event where people interested in contributing to tech open pull requests for open source projects. If you open 4 PRs this year you get a cool t-shirt + some stickers and mine and everybody else who uses the project gratefulness. :D
Here's more info about it: https://hacktoberfest.digitalocean.com/
You're super welcome to join. I'm around if you need

[2020-10-12 00:58] ianhi commented on #149
@marimeireles per https://hacktoberfest.digitalocean.com/hacktoberfest-update PRs will only count if we add the `hacktoberfest` topic.

I was about to go add it but then noticed that no other quantstack repo has any topics, is there a quantstack policy against having topics?

[2020-10-12 14:46] marimeireles commented on #149
No probs @ianhi, I missed this update. Thanks! :)

[2020-10-12 14:48] marimeireles commented on #149
@ianhi I just did, actually. wasn't sure if you could do it. Thanks again! <3

[2020-10-19 10:34] cvanelteren opened #172 "Flickering when using as widget"
I am trying to animate a graph using ipywidgets but the output is flickering.

Is there a native way to embed the widget in ipywidgets? I am trying to figure it out from the docs, but they seem to be incomplete. The CytoscapeWidget has a callback to widgets, perhaps you can send me in the right direction?

[code]

[2020-10-20 09:04] marimeireles commented on #172
Hey @cvanelteren thanks for the issue! :)
Will have a look at it soon.

[2020-10-20 20:38] cvanelteren commented on #172
hi thanks for the reply.
Just naively, I believe the issue is that the whole widget is being redrawn. Let me know if I can help!

[2020-10-21 19:26] marimeireles commented on #172
Hey @cvanelteren so, I'm about to merge a PR that will fix your issue.
I tested the following code:
[code]
But I think it will work with yours too. If you need, I can release a new version of ipycytoscape now, if you need, do you? I think this is a cool example to have in the docs of how to use ipycytoscape as a widget, please feel free to add it to the docs =)

[2020-10-21 20:14] ianhi commented on #172
@cvanelteren you're spot on with the diagnosis. I think there are actually two redraws happening.
1. Becuase you use `interactive` ipywidgets will redraw the output
   - instead I would do: `ts.observe(callback, names='value')`
2. ipycytoscape was redrawing the graph every time
   - fixed by https://github.com/QuantStack/ipycytoscape/pull/109

[2020-10-21 20:17] ianhi commented on #96
this got done by #109

[2020-10-21 20:17] #96 closed

[2020-10-22 00:17] cvanelteren commented on #172
Thanks for the fix. I pulled the repo, however no my widget stopped working altogether with:
`Error displaying widget: model not found`

The extension is enabled:

[code]

[2020-10-22 00:41] ianhi commented on #172
@cvanelteren How'd you install the the pulled extension? You need to follow the full instructions here: https://ipycytoscape.readthedocs.io/en/latest/develop-install.html

[code]

[2020-10-22 01:08] cvanelteren commented on #172
I installed initially using the extension manager. I tried reinstalling it using:

- `jupyter labextension uninstall jupyter-cytoscape`
- `jupyter labextension install .`
Produces error log with `Error: Cannot find module 'jupyter-cytoscape/package.json'. Through nbextension it install but error persists. Pretty odd.

[2020-10-22 01:16] ianhi commented on #172
Weird, what directory are you running those commands from?

Perhaps starting from scratch will help. (at worst make a new conda env) I would try the following:
[code]

[2020-10-22 01:48] cvanelteren commented on #172
I tried that too. Same error:
`cat /tmp/jupyterlab-debug-gsea1xwh.log | egrep "Error"
Error: Cannot find module 'jupyter-cytoscape/package.json'
    raise RuntimeError(msg)
RuntimeError: JupyterLab failed to build`

[2020-10-22 02:08] cvanelteren commented on #172
Ok I torched my env and reinstalled it. All is good now. Update looks good! Also saves the layout thanks a bundle!

[2020-10-22 09:36] marimeireles opened #174 "Network sometimes disintegrate"
I don't know what triggers it, according to @ianhi the culprit might be: https://github.com/QuantStack/ipycytoscape/pull/109/files#r498907209

Here's a screenshot of what's going on:

https://user-images.githubusercontent.com/17600982/94941256-296c5a00-04c4-11eb-8084-4bc818918aff.png

[2020-10-23 11:13] killerpanda101 commented on #61
Hi, this seems intersting can you assign me this issue.

[2020-10-23 12:26] marimeireles commented on #61
Sure @killerpanda101 :)
Please feel free to ask any questions!

[2020-10-23 21:30] killerpanda101 commented on #61
thanks

[2020-11-02 19:31] joseberlines opened #175 "adding jupyter con 2020 example to the example collection"
I find that the examples you explained in the jupy 2020 are very acclaratory and contain all the data that a edge or node can contain. this is very useful for being able to understand the fully power of ipycytoscape.
adding that jupyter file to the collection of examples would be wonderfull.

From the same jupyter notebook example I would include in read the docs a section including all the attrib

[2020-11-10 13:23] marimeireles commented on #175
Hey @joseberlines, thanks for the kind words :)
I just looked for the notebook here and I don't have it! Fortunately I've uploaded it to the conference dropbox, I sent an email and I'm waiting for someone to get back to me with the file so I can upload it here.
Cheers!

[2020-11-12 01:52] Nicholas-Schaub commented on #61
Hey all. Is there an update on this? I periodically have a need for an easy to use, interactive graph package in Jupyter. The last thing I worked with was more static, a combination of Matplotlib and networkx that I could update through a series of clearing and redrawing the Matplotlib axes.

I think this is the most straightforward package to configure, and much nicer looking. The biggest downsid

[2020-11-12 02:23] ianhi commented on #61
Hi @Nicholas-Schaub as far as I know no major progress has been made so if you're interested in working on this as well you're more than welcome to.

I think this is something that seems like it should be simple but may actually be complex :/

With the changes in https://github.com/QuantStack/ipycytoscape/pull/109 we will now be able to use the `cy.remove` method on typescript side (https://js.cyt

[2020-11-12 02:27] ianhi commented on #61
It seems like it should be possible to do:
[code]
and have the graph update, but I don't see a clear way of signalling to the frontend node objects that they are no longer needed. Though I bet theres some traitlets trickery that can be done by overwriding the set method for those.

Also, an important thing to note is the versions of ipycytoscape out in the wild have significantly different fronten

[2020-11-12 09:16] MridulS commented on #61
Could you also post the error log?

I have made a PR to implement this https://github.com/QuantStack/ipycytoscape/pull/177

[2020-11-12 18:58] Nicholas-Schaub commented on #61
Thanks for the fast and complete responses all.

@ianhi I attempted to do some of your suggestions, but it didn't seem to have the desired effect. Although, I may have given up too early. I'll give this all another shot. I may take this on depending on whether our collaborator likes the tool we are building.

@MridulS I'll do some more thorough tests and post error logs.

[2020-11-17 21:57] bitbucketboss opened #178 "Minor documentation issues"
https://ipycytoscape.readthedocs.io/en/latest/installing.html#jupyterlab
Revision fb8d47f1

"... conda by doing" appears to be missing text.

"... install the JupyterLab widget manager:" appears to be missing text.

PS: This is an amazing package !

[2020-11-17 21:59] marimeireles commented on #178
True! And the sentence immediately below it too.
Please feel free to contribute it if you know how to complete the missing parts :)
Otherwise, I'll add to my backlog.
Thanks for the kind words and for opening an issue =)

[2020-11-17 23:40] ianhi commented on #178
Good catch @bitbucketboss  (also sweet username)
Looking at this I noticed a few other things that need to be corrected:

1. Probably also good to include installing `nodejs` in the conda/mamba commands.
2. The install instructions in the readme incorrectly point users to `labextension install jupyter-cytoscape`

[2020-11-19 23:46] joseberlines opened #181 "CSS vs Style"
In the examples included in the repo I observe two ways of setting style:
[code]
and also:

[code]

when do you use  'css' and when do you use 'style'?

[2020-11-19 23:52] joseberlines opened #182 "all interactions with the graph"
IN the docs is possible to see this code:

[code]

Are those all the interactions possible. I.e. is it possible to code "right click', actions on the edges (mouse over and click) etc. a comprehensive list of events that can be influenced/code might be very useful

[2020-11-20 00:03] ianhi commented on #182
Hey @joseberlines  a list of all the events can be found in cytoscape js docs. See here: https://js.cytoscape.org/#events/user-input-device-events

This would be great to add to the documentation

[2020-11-20 00:05] joseberlines commented on #149
Hi @marimeireles & @ianhi , I am still coding this idea which is taken more time than I expected. Can any of you provide me with complete set of parameters that could be handled by ipycytoscape (as pointed out in issue #175 ) minute 15.06 of the Jupiter con conference YouTube video. thx.

[2020-11-20 00:07] ianhi commented on #181
I believe that cytoscapejs treats them exactly the same. See for example https://js.cytoscape.org/#eles.style
![image](https://user-images.githubusercontent.com/10111092/99739162-24766080-2a9a-11eb-928b-d061c08b93ce.png)

however, the styling is not strictly the same as CSS so it's probably better to use `style` which is what the cytoscapejs examples do.

[2020-11-20 00:07] ianhi commented on #181
it would be great to comb over the docs and replace all the `css` with `style`. If anyone wants to tackle that and needs help building the docs feel free to drop a comment here.

[2020-11-20 07:33] marimeireles opened #183 "Add instructions on using black and put commit on git-blame-ignore"
As a follow up to add black formatting as pointed by @ianhi it'd be cool if we:

[2020-11-20 18:00] joseberlines commented on #181
cool. good to know style is the way to go

[2020-11-22 11:35] joseberlines opened #185 "adding a new node to a graph."
just published a question in StackOverflow with the following content:

Assuming I have a graph like:

[code]
later on I want to add a node to the graph.

the following does not work:

[code]
but when doing:

`ipycytoscape_obj.graph.add_node(new_node_json)`
the error is:

`AttributeError: 'dict' object has no attribute 'data'`

Some idea what I am doing wrong? Don't I need the node to be of the ty

[2020-11-22 12:14] MridulS commented on #185
It needs to be `node` object not a JSON one.

[code]

[2020-11-22 12:17] MridulS commented on #185
Also the initial JSON should be
[code]
or
[code]
The edges are created between two `id` of nodes, not the name.

[2020-11-22 16:23] joseberlines opened #187 "classes nomenclature"
In the file example  gridData.json we can see:

[code]

but in the documentation we can see:
https://ipycytoscape.readthedocs.io/en/latest/examples/labels.html?highlight=classes#Add-labels-to-Nodes

[code]

So in the first example classes IS NOT inside data, whereas in the second case it is.
1.- What is the way to go? What is better? Are both ok?
2.- Are those ALL the attributes of a node or are t

[2020-11-24 15:49] sven5s commented on #187
These are to different things in the first example you set the attribute classes of the node instance to something (only interesting for edges in the moment) and in the second example you only add am additional key value pair to the data dict.

You can take a look in the source code for the different attributes in most cases everything is done automatically and only the data attribute is relevant

[2020-11-24 19:24] joseberlines opened #189 "Add/remove classes"
In one of the examples in the repo we can see a button for changing a class as follows:

btn = widgets.Button(description="red edges", disabled=False)

[code]

Why are the classes not implemented as a simple list that would allow simple append / pop?
Perhaps I am missing something.

if classes were a list (or a set to avoid repetitions)

This would allow something like:
edge.classes.append('mynewc

[2020-11-25 01:30] joseberlines opened #190 "overriding styles."
Imagine I have three nodes:
BER with classes Germany EU
PAR with class EU
MIL with class EU

if I have a style like:
[{'selector': 'node', 'background-color': 'yellow'}
 {'selector': 'node[classes="EU"]', 'style': {'background-color': 'blue'}},
 {'selector': 'node[classes="Germany"]', 'style': {'background-color': 'green']

Which should be the colour in case of conflict? are the styles apply stric

[2020-11-25 09:44] sven5s commented on #185
I wrote myself to small helper function to create nodes and edges from dicts:
[code]
_set_attributes is used from the original source code:
https://github.com/QuantStack/ipycytoscape/blob/26fed38ae6aa5c3bad375cab3ddcf937d84de72b/ipycytoscape/cytoscape.py#L220

It can be used like this:
[code]

[2020-11-25 09:52] sven5s commented on #189
This python implementation should be close to the JS implementation because this provides simply spoken a python api for the js lib. In the js lib the classes attribute can be a string or a list. In the past only one class was allowed. This has changed recently.

I already fixed an issue #176 from this transition. Now I want to implement it with lists but also allow strings. This is simply achivea

[2020-11-25 13:28] sven5s commented on #128
I'm not very familiar with automated testing. Is it necessary to test remove_edge and remove_edge_by_id? Basically remove_edge_by_id calls remove_edge. So if remove_edge_by_id  works like intended this should also be valid for remove_edge, or miss I something?

(I try to write some tests for this at the moment.)

[2020-11-25 14:54] sven5s opened #191 "multiple edges not treated correctly"
At the moment I write test for the methods of the graph class and discovered two issues that's not easily solveable for me without to rewrite a lot of stuff. I use the fixed version from #176.

First multiple_edges are treated like directed edges. This isn't correct in my context.
[code]
Will give us
[code]
This is a bug in my opinion but not so important.

But If you want to remove the edges
[cod

[2020-11-25 18:38] joseberlines commented on #128
what do you mean by "df graph creation"?

[2020-11-25 18:41] joseberlines commented on #189
@sven5s I made a pull request in which I add classes to a node exactly as you say. passing a string or a list. It is checked the type and if it is string pass it to a list and then operate at list level. I added basically a function to the base code (still pending aproval and probably check check double check) have a look it you want. If it is accepted I can straight away do the same for deleting

[2020-11-25 18:46] sven5s commented on #128
Dataframe graph creation - Create a graph from a pandas dataframe

[2020-11-25 18:48] joseberlines commented on #185
So this is already WITHIN ipycytoscape I understand.
This might probably override my pull request for adding classes @marimeireles @ianhi .

My funct does the following.  add_class(node, classes)

[2020-11-25 19:00] sven5s commented on #185
No, your function has a different purpose. But from an OOP perspective add_class should be a method of Node and Edge.

[2020-11-26 06:16] ianhi commented on #190
From https://js.cytoscape.org/#style

and the style is ordered so I would expect the node to be green.

[2020-11-26 21:45] joseberlines commented on #128
Ok, I am on that one right now.
I actually would have some questions.
Should I open an issue on questions about this implementation?
How is it possible to share code to be commented/discussed over before pulling?

[2020-11-26 22:05] joseberlines opened #192 "Question: Adding attributes to node via JSON data. TypeError: 'Node' object does not support item assignment"
I am trying to assign to a node attributes looping through the key values of a JSON data.
but I get the following error:

[code]

[code]

If I have data in JSON how can I assign this data to the node (to add later on to the ipycytoscape object)

Note: I am working on the pandas data frame implementation as I mentioned in:
https://github.com/QuantStack/ipycytoscape/issues/128#issuecomment-734487703

[2020-11-26 23:18] joseberlines commented on #149
Dear all, I was about to open a discussion issue about this item but we might go on discussing it here.

So far my idea is the following
pseudocode:

[code]

where nodes_df is a DF containing the following columns related to the attributes:
all_node_attributes = ["id","idInt","parent","name","score",
                "position_x","position_y",
                "group","removed","selected","selectabl

[2020-11-27 09:49] marimeireles commented on #172
We have to add this to our test routine somehow...
Do you know more precisely when it happened @cvanelteren it'd help to track the problem.
Thanks for the update.

[2020-11-27 09:52] marimeireles commented on #101
I'm gonna close this because thanks to @ianhi we have amazing docs now.
I'll create a new issue with more specific goals on what we want to achieve from now on.

[2020-11-27 09:52] #101 closed

[2020-11-27 09:57] marimeireles opened #193 "Improving docs or examples"
Ian and I are always saying "Oh, it'd be great to have this example in our docs!" but because we can't always add them immediately we don't and we end up losing them. This issue is an effort to document these little good snippets that we wish we had to someday actually add them to our docs.

- [ ] Use ipycytoscape as an embeded widget https://github.com/QuantStack/ipycytoscape/issues/172#issuecomm

[2020-11-27 10:40] marimeireles commented on #110
Closed by @ianhi's doc improvement.

[2020-11-27 10:40] #110 closed

[2020-11-27 13:14] cvanelteren commented on #172
On this machine `3.0.0rc10` is running of `jupyterlab`, the `ipycytoscape` was installed using the latest master branch. Under `jupyterlab`, the update seems to be `blitted` but flicker (2x draw it seems) when a change is detected. In the example of above, if one were to keep the colors the same for every slider update, no flickering will occur.

[2020-11-27 22:21] ianhi commented on #193
- [ ] Changing the size of the graph using `cyto.layout.width` and `cyto.layout.height` https://github.com/QuantStack/ipycytoscape/issues/170#issuecomment-706248455

[2020-11-27 22:24] ianhi commented on #128
I think everything you said here is correct, but it can still be nice to test both as that makes easier to figure out what went wrong. So perfect world do both, but don't let the perfect be the enemy of the good and either would be an improvement over the current situation.

[2020-11-27 22:26] ianhi commented on #128
Feel free to open PRs to get early feedback if you'd like. Otherwise for tests posting quesitons in this issue is probably a good move.

[2020-11-27 22:26] ianhi commented on #165
fixed by #179

[2020-11-27 22:26] #165 closed

[2020-11-27 23:15] joseberlines commented on #193
talking about layouts.... what about a list of the different layouts somewhere?
here: https://js.cytoscape.org/#cy.layout there is not such list neither.

[2020-11-28 17:49] marimeireles commented on #192
Hum... I think for this kind of user case you'd have to create a custom node @joseberlines.
I think @MridulS wrote an example of this at some point? You were doing something really similar to this right? @ianhi may know what I'm talking about.

[2020-11-30 06:48] marimeireles commented on #190
Can we close @joseberlines ?

[2020-11-30 06:50] marimeireles commented on #185
Hey peeps, sorry for not being around much, I'm working in another project that's sucking my mind entirely.
Thank you very much for the replies :))

@joseberlines will have a look at your PR right now, sorry for the delay. Does Sven5s's and Mridul's comments answer your question and we can close this one?

[2020-11-30 06:52] marimeireles commented on #193
- [ ] helper function to create nodes and edges from dicts https://github.com/QuantStack/ipycytoscape/issues/185#issuecomment-733593298

[2020-11-30 07:17] marimeireles commented on #191
Actually, @MridulS was the one who introduced the adjacency list. Is it possible that you have a look at this?

[2020-11-30 07:18] marimeireles commented on #191
And thanks a lot for finding this issue @sven5s!
When we fix this we should write a test that test exactly these examples that you wrote.

[2020-11-30 08:36] marimeireles commented on #187
The reason why I wrote like in the first example is simply because I was following cytoscape style see: https://github.com/cytoscape/cytoscape.js/blob/master/documentation/demos/colajs-graph/data.json.
I think the general idea is to have generic attributes in the graph, attributes that should be manipulated by the library and offer functionalities to the user outside the `data` attr. `data` IMO sh

[2020-11-30 08:59] marimeireles commented on #76
Part of the work was done by #186 but we still need to resize the graph manually.
If we want it to be automatic, Ian made some suggestions here: https://github.com/QuantStack/ipycytoscape/pull/186#issuecomment-731906972

[2020-11-30 10:07] sven5s commented on #191
I will take a look but if it's connected to typescript I need some help.
These code snippets are parts from my actual tests. ;-)

[2020-11-30 10:08] joseberlines opened #194 "styles overriding"
with this graph and style:

[code]
I dont understand why  the label=method style overrides the label=apparatus and the nodes with apparatus dont get any color. Why?
( I would expect the grey nodes to be red)

![image](https://user-images.githubusercontent.com/33203439/100596403-6c984d00-32fc-11eb-9574-c1b94c38a956.png)

[2020-11-30 10:54] sven5s opened #195 "add_node vs. add_nodes and add_edge vs. add_edges"
Mainly in add_edge and add_edges a lot of code is duplicated. I think both should be combined in one function. The same should be done for add_node and add_nodes.
My idea would be to use extend for both cases because it's not [much slower](https://stackoverflow.com/a/28119966) than append. We could keep both function but let the single function call the one for multiple instances, e.g.
https://git

[2020-11-30 11:12] sven5s commented on #191
Okay, I wrapped my head around this and found the problem for the error. I also understand the function of _adj and it isn't connected to typescript. _adj will also help us to handle multiple_edges the right way. But first I want to reduce the code base a little #195.

My plan is to get my PR #176 merged. Than I will create a PR for #195 and if all problems are solved. I will make a PR for the tes

[2020-11-30 11:27] joseberlines commented on #187
Ok, so basically all is based in cytoscape.
So if I am explaining ipycytoscape to someone and they asked "why is the json structure for every node not a simple flat dictionary" the answer is basically because it is base in cytoscape.

And only the attributes within the data key are really necessary for the graph.

I see within the code:
[code]

Data is hence a dict, but not restricted to a particu

[2020-11-30 11:32] #190 closed

[2020-12-01 21:43] marimeireles opened #196 "Change ipycytoscape CI provider"
Travis is now paid. We have a few options:

* migrate to another server, azure?
* ipycytoscape is and will always be open source so we qualify for asking Travis free credits
* any other idea?

[2020-12-01 21:59] MridulS commented on #196
Pretty much all the projects I know moved to GitHub Actions. Anything stopping ipycytoscape  from moving to it?

[2020-12-02 07:05] marimeireles commented on #196
No! Had forgot about that one. Thanks @MridulS :)
I have no idea what might be the best option as I only used travis.

[2020-12-02 13:14] krassowski commented on #193
So there is an example which I would probably enjoy seeing in the docs as it took me a while to figure it out (btw the gif in README is outdated), this is changing layout on the fly and using the exact positions of nodes (no layout). I even wonder if it would make sense to make `name=None` to act like `name='preset'` (with default being whatever is being used by default at the moment).

![kegg_exa

[2020-12-02 21:16] ianhi commented on #196
+1 to github actions. Very easy to use on github.

As ever ipycanvas is a good place to look for how to do this. See https://github.com/martinRenou/ipycanvas/blob/master/.github/workflows/main.yml

It's also nice to use a pip cache like I do here:
https://github.com/ianhi/mpl-interactions/blob/5cb80ff27ec31d6501d9e1088fc592dbc62bc6c8/.github/workflows/test.yml#L30-L42

[2020-12-02 21:17] ianhi commented on #196
Also, @marimeireles what do you think of automated releases via github actions? You just use the draft release button and then it will generate a wheel and upload to pypi + npm. For example this workflow used on jlab-git https://github.com/jupyterlab/jupyterlab-git/blob/master/.github/workflows/publish.yml

[2020-12-03 18:23] joseberlines commented on #193
@krassowski this is sooooo cool

[2020-12-05 01:17] #192 closed

[2020-12-09 17:48] joseberlines opened #197 "updating graph style by adding element to the set_style list not working."
I have a graph called ipycytoscape_obj9 with a particular my_style.

assume I add a node and two edges to that node.
And then I want to update also the style of the edges.
as in:
[code]

If I print out in the next cell the graph I would expect that the new appended styles are taking into account for edges 6 and 7. that is not the case.

Only starting from scratch with a new graph the new styles wo

[2020-12-11 15:52] caraevangeline opened #198 "Can ipycytoscape be run in localhost other than jupyter notebook?"
I want to display the ipycytoscape graph in localhost.
Any tips or ideas are highly appreciated!
Thanks in advance!

[2020-12-11 18:16] marimeireles commented on #198
Hey @caraevangeline I'm not sure about this. I'd say there are ways, like using voila https://github.com/voila-dashboards/voila/
Or maybe depending on your user case even using the cytoscape.js would be an easier approach? If you feel like sharing a bit more about your context maybe I can help more :)
Also https://gitter.im/QuantStack/Lobby people on this chat are more knowledgeable than I in this

[2020-12-12 04:14] ianhi commented on #192
@joseberlines are you trying to assign attributes that should be synced to the frontend or just generic attributes of the object? for the former everything that the frontend can handle is already present on the object. For the latter you can do something like `set_attr(new_node, key, value)`

[2020-12-12 10:05] caraevangeline commented on #198
@marimeireles I am trying to visualize a network graph which will have the following features and should be runnable in a server/localhost
1) click and drag nodes
2) Redirect to another page when clicking a node
3) Drill up and down the entire graph
4) Network graph should be able to accumulate different layouts of algorithms
5) hover over the node and display content in tooltip

I initially tried

[2020-12-12 14:51] joseberlines commented on #198
@caraevangeline I think you will be able to do all that with ipycytoscape.
What do you actually mean by:
Network graph should be able to accumulate different layouts of algorithms
?
How big is your data? tens? hundreds of nodes?
I am working on a solution where you can input data frames as input to a method that construct the ipycytoscape. Perhaps this might be another use-case. The idea is to man

[2020-12-12 14:59] joseberlines opened #202 "printing out Graph & style data of an Ipycytoscape"
I observe the following behaviour:

if you print the nodes of a graph:
`G.graph.nodes`
you get:
[code]
a list of nodes
The same applies for edges.

But, when you do:
`G.get_style`

the output is:
`<bound method CytoscapeWidget.get_style of CytoscapeWidget(cytoscape_layout={'name': 'cola'}, cytoscape_style=[[[{'selector': "node[id='BER']", ...`

In order to be consistent I would expect two methods

[2020-12-12 14:59] caraevangeline commented on #198
@joseberlines I want to put a drop-down menu mentioning all algorithms (ie. circular, spread, spring, etc) according to user convenience
My data will consist of 1000's of nodes.
Yes, I need one layout at a time. Can ipycytoscape be run in localhost using dash or flask?

[2020-12-12 15:10] joseberlines opened #203 "debugging not displaying a graph G"
Say you are building a Graph node by node, edge by edge, style by style.
NO error is raised in the building.
then:
`display(G)`

and nothing appears.
How to debug and look for the reason that makes for ipycytoscape not possible to display the graph?

[2020-12-12 15:55] joseberlines commented on #198
I don't really understand what do you mean by local host.
You can display it with voila, which is I would say the natural way.
https://github.com/voila-dashboards/voila

I still don't have install in this computer. I will do it straight away and will post snapshots.
As for your drop down menu I guess you are thinking about ipywidgets.

So my approach (pandas) is perfectly applicable to your case.

[2020-12-12 15:59] caraevangeline commented on #198
@joseberlines Thank you!
What I mean by localhost is, I want the python program to render the graph in a web page

[2020-12-12 16:12] joseberlines commented on #198
Perfect. Then voila is the answer. Follow the instructions in the voila page. if all goes well in a minute you are up and running.
first install voila and then the jupyter lab extension.
Then you will have a button in your jupyter lab to render any notebook with voila. Just click and go.

[2020-12-12 16:23] joseberlines commented on #198
See here in local host with voila:
<img width="995" alt="Screenshot 2020-12-12 at 17 22 14" src="https://user-images.githubusercontent.com/33203439/101989137-af640880-3c9e-11eb-8036-583afeb16264.png">

See on the top localhost

[2020-12-12 16:25] caraevangeline commented on #198
@joseberlines Thank you! Can the interactive graph alone be hosted in localhost instead of the entire code?

[2020-12-12 16:27] caraevangeline commented on #198
@joseberlines Thanks a lot!
Just a last question
Can the interactive graph alone be hosted in localhost instead of the entire code?

[2020-12-12 16:29] joseberlines commented on #198
I don't think so.
What voila does is rendering the output of the cells of the notebook.
You can make a notebook that outputs nevertheless ONLY the graph.
Your cells should not output anything and you should not have any markdown cells in the notebook.
This is actually the way to go.
You do all your calculations and you output only "the widgets" including the dropdown menu and the Graph.

[2020-12-12 16:31] caraevangeline commented on #198
@joseberlines Thank you for all your replies!

[2020-12-12 16:43] joseberlines commented on #198
look this: https://joseberlines.medium.com/learning-and-visualising-graphs-with-ipycytoscape-1ca150f24933

[2020-12-12 17:13] caraevangeline commented on #198
@joseberlines Okay, Thank you. It really helps!

[2020-12-12 19:00] joseberlines commented on #198
In the coming days I will publish a second article in the series in medium Exactly with the problem you mentioned.
stay tuned.
now I think you can close.

[2020-12-12 19:08] caraevangeline commented on #198
I get it. Thanks.

[2020-12-12 19:09] caraevangeline commented on #198
Okay:-)

[2020-12-12 19:09] #198 closed

[2020-12-13 20:57] joseberlines opened #204 "Article in medium for commenting (part 2 of learning graphs with ipycytoscape)"
Dear @marimeireles & @ianhi,

I have ready a second article:
https://joseberlines.medium.com/part-2-learning-graphs-with-ipycytoscape-the-train-rail-net-grows-up-db2daa2f453d

it is yet unlisted.
If you have time the coming days can you please have a look and make any comment here before I made it available to everyone?

thanks

[2020-12-14 13:40] #178 closed

[2020-12-15 03:40] ianhi commented on #204
Hi @joseberlines, it's awesome that you're writing things like this. Overall I think that this could be very helpful to someone starting out learning how to visualize graphs! Content wise I don't think you've any mistakes, however one really nice improvement to the graphs could be to make the sizes of the edges correspond to the speed of that train connection.

I also have a few practical notes:
1

[2020-12-15 04:33] #196 closed

[2020-12-15 17:20] joseberlines commented on #204
Thanks. I will revisit grammar. My English is quite ok but i am not used to write articles.

[2020-12-16 01:13] joseberlines commented on #204
Can you give me a hand here?

I would love to do that but:

I see in the style file of the Gene graph the following:
"width": "mapData(score, 0, 0.006769776522008331, 20, 60)",
"height": "mapData(score, 0, 0.006769776522008331, 20, 60)",

So it looks like it is proportional to the score.

Why width and height if they are circles? I would expect a unique parameter like radius.

In the same file I s

[2020-12-16 03:43] ianhi commented on #203
Do you have a complete example you can post? I would expect that after creation then `display(G)` should always display something. If it doesn't you may well have found a bug. To check that I would open the browser javascript console and see if there are any errors there. (See https://webmasters.stackexchange.com/a/77337/115742 for how to open the javascript console)

[2020-12-16 03:43] ianhi commented on #197
What version of ipycytoscape are you seeing this on?

[2020-12-16 03:55] ianhi opened #209 "New Release"
There have been 80 commits to master since the last release of 1.0.4 which primarily seem to have come from docs PRs and from #109 I think it would be nice to release these changes as there have been some issues popping up that are solved on the master branch but are not yet released.

This would at the very least deserve a bump to `1.1.0`, possibly a major version as well as some niches parts of

[2020-12-16 04:16] ianhi commented on #202
If I call the function `G.get_style()` then I get the output I think you're expecting:
![image](https://user-images.githubusercontent.com/10111092/102304310-27466300-3f2b-11eb-903a-041a591bf1a5.png)

you can also do:
`print(G.cytoscape_style)`

Probably the `cytoscape_style` attribute should be renamed to `style` but that's a very backwards incompatible change.

[2020-12-16 04:21] ianhi commented on #195
I'm running into the same struggles with naming - so it's probably best to keep two separate functions.

Overall I agree that we should probably not be duplicating code like this. Though @MridulS wrote most of this code, do you have an opinion?

I like this approach. Anyone is welcome to open a PR implementing this :)

[2020-12-16 04:28] ianhi opened #210 "add_graph_from_json should accept a path to a file"
It would be great if `add_graph_from_json` accepted either a dict or a str. If a str it should be interpreted as a path to a json file and the method should do something like:

[code]

[2020-12-16 04:41] ianhi commented on #191
This is an excellent plan :)

I'm also always happy to help discuss how the typescripty parts work, feel free to ask questions on modifying them or why they are the way they are.

[2020-12-16 04:44] ianhi commented on #194
I'm also confused by this. Interesting if you flip the style definition then only the apparatus nodes end up colored:
[code]

[2020-12-16 04:45] ianhi commented on #194
My guess is that this behavior is intrinsic to cytoscape.js that is what handles all of the actual interpretation of the style and applying it to the nodes.

[2020-12-16 08:28] MridulS commented on #195
I like this one and this also fixes the performance issues with communication with the front end.
[code]

[2020-12-16 09:24] sven5s commented on #195
I write the PR at the moment but find a strange behavior, maybe it is desired.
In https://github.com/QuantStack/ipycytoscape/blob/0f16ef70ec8443d2fd182018b074d467cbe7894f/ipycytoscape/cytoscape.py#L307 exists the following block
[code]
But in https://github.com/QuantStack/ipycytoscape/blob/0f16ef70ec8443d2fd182018b074d467cbe7894f/ipycytoscape/cytoscape.py#L362 is no such code.

This means if I add

[2020-12-16 09:51] sven5s commented on #195
Well, if I add the block
[code]
to add_edges, the input edges is changed. This is not so nice. Maybe we should copy the edge instance, or is the connection intended?

[2020-12-16 16:49] joseberlines commented on #194
But that means that the approach of "adding" styles to the style sheet assuming you can override all others is not correct. As mentioned in other issue #197 it is not clear to me what the coder is supposed to do a)update style sheet b) rewriting it from scratch c) In any case build the entire Graph again with new style data.

[2020-12-16 16:51] joseberlines commented on #197
print(ipycytoscape.__version__)
1.0.4

[2020-12-16 21:25] joseberlines opened #212 "How to change rendering space for ipycytoscape graph when rendering with voila."
Imaging you are building a graph that you later on want to render with voila is is possible to somehow specify that the space in which the graph is to be plotted should be bigger or of a particular dimension
<img width="1014" alt="Screenshot 2020-12-16 at 22 26 06" src="https://user-images.githubusercontent.com/33203439/102408735-5671d880-3fee-11eb-8244-d0c80254293f.png">
?

[2020-12-17 13:05] marimeireles commented on #212
Huh, I'm not really sure @joseberlines. You might have more luck asking on the [voila](https://github.com/voila-dashboards/voila/) repo or at the QuantStack room https://gitter.im/QuantStack/Lobby

[2020-12-17 13:15] joseberlines commented on #212
Thanks.

[2020-12-17 13:16] joseberlines commented on #203
Ok. Next time I post the whole example. I will close this one. I am opening too many issues

[2020-12-17 13:17] #212 closed

[2020-12-17 13:19] marimeireles commented on #212
No probs. I think https://github.com/voila-dashboards/voila-gridstack might be what you're looking for.
But really don't know much about it.
Good luck :)

[2020-12-17 20:41] iAmNawa opened #213 "Graph is never rendered, shows CytoscapeWidget instead"
from ipycytoscape import CytoscapeWidget
import networkx as nx
G = nx.complete_graph(5)
cyto = CytoscapeWidget()
cyto.graph.add_graph_from_networkx(G)
display(cyto)

When running examples like this, the last command prints out...
CytoscapeWidget(cytoscape_layout=...)
It shows the exact same thing if I put print(cyto).
running just cyto also prints out the exact same thing.
I have tried multiple ex

[2020-12-17 20:44] MridulS commented on #213
Is this code inside a Jupyter notebook?

[2020-12-17 20:45] iAmNawa commented on #213
Yes

[2020-12-17 20:52] MridulS commented on #213
That's interesting.

Can you check what's the output of `jupyter labextension list` from your terminal ?

[2020-12-17 21:02] SylvainCorlay commented on #213
jupyter nbextension list

for the classic notebook.

[2020-12-17 21:03] iAmNawa commented on #213
'Jupyter command `{}` not found.'.format(jupyter_subcommand)
Exception: Jupyter command `jupyter-labextension` not found.

[2020-12-17 21:57] iAmNawa commented on #213
This notebook is running on RHEL and I am accessing it by URL, there are many users with notebooks on this server.  Not sure if that changes things or not.  I'm not sure about the labextension but our server is closed off to external URLs and only accessible by VPN, so not sure if this might be part of the issue.

[2020-12-17 22:04] marimeireles commented on #209
Sorry I missed it @ianhi.
I'm always trying to merge all the PRs before making a release but lately it's been hard. That's why I dragged it for so long :(
I'll try to give you permissions for that :)
We can talk on private. Will make a new release right now.
Thanks for the reminder.

[2020-12-17 22:27] marimeireles commented on #209
Done :)
New release out in pypi and you're invited as a maintainer.
To upload to pypi, create an account, I think you have to install sdist and twine. And the do the following:
[code]
After that the bot will pick up your changes on conda feedstock and you can merge the PR. Takes about an hour for that to happen, you can also do it manually by changing the hash of the file.
You're also invited for

[2020-12-17 22:27] #209 closed

[2020-12-17 23:01] marimeireles commented on #213
Hey @iAmNawa did you try the `jupyter nbextension list` command?
I think you might have gotten that error because you used a command for jupyter lab on a jupyter notebook

[2020-12-17 23:27] iAmNawa commented on #213
Yes, sorry.  When I run jupyter nbextension list I get PermissionError: [Errno 13] Permission denied.  then it shows a URL string with the final path /notebook.d/bqplot.json

[2020-12-18 05:44] ianhi commented on #212
@joseberlines can you try to modify the height of the cytoscape object by doing:
[code]

I chose 1000px because it is big, but I think that that string can be any valid css for defining the height

[2020-12-18 05:52] ianhi commented on #195
If I add the above block to add_edges all test are passed, but maybe I miss something

I don't think you've missed something, instead I think you've found a bug! Your proposed cleanup sounds like it will fix this bug so I'm all for it.

I think it needs to be this way, otherwise if you create a `Node` object give it to the graph and then make further changes to it they won't be reflected in the di

[2020-12-18 15:44] iAmNawa commented on #213
I wanted to give an update, so nbextension list provides a list on one server but on another I get permission denied, so this makes me think there might be a permissions issue or configuration issue on the server.  I am going to look into this and I will give you an update when I figure things out.

[2020-12-19 18:58] #202 closed

[2020-12-21 16:33] joseberlines commented on #213
Hi can that be related to the rendering in a notebook or a Jupyter lab?
I have the same issue.
Same exactly notebook rendering the graph when I open anaconda notebook but if I open it in anaconda jupyter lab:
<img width="1263" alt="Screenshot 2020-12-21 at 17 32 07" src="https://user-images.githubusercontent.com/33203439/102799329-ae278f80-43b2-11eb-8e4f-da7b4464326e.png">

[2020-12-21 16:52] joseberlines commented on #203
@ianhi
I got an example of the above mentioned issue.

I am manipulating nodes with pandas and I could not display a graph:
<img width="874" alt="Screenshot 2020-12-21 at 17 50 30" src="https://user-images.githubusercontent.com/33203439/102801100-09f31800-43b5-11eb-93f3-64479734bcf6.png">

then I realised that I made a mistake:
[Node(data={'id': 'BER', 'label': 'BER Hbf', 'classes': 'east'}, posit

[2020-12-22 12:53] marimeireles commented on #213
I can't reproduce this with version 1.1.0 of ipycytoscape nor with master.
I'd recommend creating a new environment from scratch and see if this is still happening.

[2020-12-22 13:05] marimeireles commented on #204
Hey @joseberlines check it out this part of the docs: https://js.cytoscape.org/#getting-started/specifying-basic-options
I think it might help, they have a json tweaking edges:

[code]

[2020-12-22 13:08] marimeireles commented on #203
Humm I wasn't aware of this kind of bug. I'll test it, thanks @joseberlines

[2020-12-22 17:55] marimeireles commented on #203
Hey @joseberlines I think your problem is not related to what's described in this issue?
You can't use `nan` like this in jsons, you should use `'null'` with quotes.
And if you use null in position, it means you're assigning no position to the nodes, so they won't show up in the screen.

[2020-12-22 18:04] joseberlines commented on #203
My issue here is not about 'nan' vs 'null' is about the fact that if ipycytoscape does not interpret something because there is an error (nan in JSON) and does not through an error but just does not show anything. Then the user is confused.
I would expect "error xy ipycytoscape can not interpret whatever".

[2020-12-22 18:06] joseberlines commented on #213
I will have a new look to it in new environement

[2020-12-22 18:14] marimeireles commented on #203
Hm, I see.
I get the following when using `nan`:
[code]
Maybe I'm reproducing your issue wrong. Could you please post a more complete example so I can maybe reproduce it?

[2020-12-22 18:28] marimeireles commented on #197
Thanks for the issue @joseberlines will investigate now =)

[2020-12-23 18:44] joseberlines commented on #203
I tried this:```

[Node(data={'id': 'BER', 'label': '0.0-0.0', 'classes': 'east'}, position={'x': 0.0, 'y': 0.0}),
 Node(data={'id': 'MUN', 'label': '10.0-5.0', 'classes': 'west'}, position={'x': 10.0, 'y': 5.0}),
 Node(data={'id': 'FRA', 'label': '20.0-10.0', 'classes': 'west'}, position={'x': 20.0, 'y': 10.0}),
 Node(data={'id': 'HAM', 'label': '30.0-15.0', 'classes': 'west'}, position={'x': 30.

[2020-12-23 19:16] #204 closed

[2020-12-23 19:40] joseberlines opened #216 "Positioning nodes individually with position:{'x':10,'y':20} influenced by layout?"
I have the following data:

`nodes4 = [{'id': 'UNO', 'label': '0.0-0.0','position_x': 0.0, 'position_y': 0.0},
{'id': 'DOS', 'label': '100.0-50.0', 'position_x': 100.0, 'position_y': 50.0},
{'id': 'TRES', 'label': '200.0-100.0', 'position_x': 200.0, 'position_y': 100.0},
{'id': 'CUATRO', 'label': '300.0-150.0', 'position_x': 300.0, 'position_y': 150.0},
{'id': 'CINCO', 'label': '600.0-150.0', 'pos

[2020-12-23 20:33] marimeireles commented on #193
Thank you for this adition @krassowski is super! :)

[2020-12-28 18:19] marimeireles commented on #175
Hey @joseberlines we can reopen this.
I'm gonna ping the responsible folks one more time!

[2020-12-28 19:16] #185 closed

[2020-12-30 18:51] abitofalchemy commented on #22
did not work for me I still have the issue.

here is my `jupyter labextension list`

[code]

[2020-12-31 00:01] ianhi commented on #22
Hey @abitofalchemy your error is because ipycytoscape has not yet been updated for jupyterlab 3. There's an unfinished PR here https://github.com/QuantStack/ipycytoscape/pull/171. Likely this will get done sometime in the coming week - though if you want to champion that PR forward that would also be welcome of course :)

[2020-12-31 11:13] marimeireles commented on #22
@abitofalchemy  yes, I think the PR is actually working, iirc. We just need to test it and merge it, in case you want to use it with ipycytoscape.
Either that or you fix the jupyter lab version to be 2.2.8, and should work =)

[2021-01-03 21:47] yaacovNaNachRabbeinu opened #217 "CytoscapeWidget not rendering"
Hi,

I'm running the file `HTML interaction with graph.ipynb` inside jupyter lab but my exit from the line `cytoscapeobj` it is as below in the figure. What am I doing wrong?

![image](https://user-images.githubusercontent.com/76716532/103489531-13e13600-4e0d-11eb-986d-166067ed6674.png)

[2021-01-03 22:40] ianhi commented on #217
Hi @yaacovNaNachRabbeinu can you specify what versions you are using? This will help determine if you've found a bug or if something is broken about your install

**Version Info**
  * ipycytoscape version (`import ipycytoscape; print(ipycytoscape.__version__)`) :
  * Python version:
  * Jupyter(Lab) version:

[2021-01-03 22:57] yaacovNaNachRabbeinu commented on #217
Hi @ianhi here versions:

Version Info

    ipycytoscape version (import ipycytoscape; print(ipycytoscape.__version__)) : 1.1.0
    Python version: 3.9
    Jupyter(Lab) version: 2.2.6

Thanks!

[2021-01-03 23:07] ianhi commented on #217
Argh the proper install instructions still aren't rendering properly on the docs, sorry about that.

Can you try running this command:
[code]

[2021-01-03 23:07] ianhi commented on #217
and then restart your jupyterlab and see if that fixes the issue?

[2021-01-03 23:08] ianhi commented on #217
Full instructions on jlab usage are here: https://github.com/QuantStack/ipycytoscape#for-jupyterlab-users

[2021-01-04 00:52] yaacovNaNachRabbeinu commented on #217
When doing `jupyter labextension install @jupyter-widgets/jupyterlab-manager` I get the following error message:
[code]

[2021-01-04 00:56] ianhi commented on #217
Ah yes. That's something we'll need to fix in the documentation as well. You got caught by the transition to JupyterLab 3 which is happening all across the ecosystem right now. Ipycytoscape will support jupyterlab 3 soon, and that will make installation significantly easier. Until then I think the command you need is:
[code]
in order to capture the version for jupyterlab 2.x

[2021-01-04 14:05] yaacovNaNachRabbeinu commented on #217
When doing `jupyter labextension install @jupyter-widgets/jupyterlab-manager@2.0` I get the following error message:

`(base) #jupyter labextension install @jupyter-widgets/jupyterlab-manager@2.0
An error occured.
ValueError: Please install nodejs >=10.0.0 before continuing. nodejs may be installed using conda or directly from the nodejs website.
See the log file for details:  /tmp/jupyterlab-debu

[2021-01-04 14:07] marimeireles commented on #217
Are you using a nodejs>=10?
You can check it with `conda list | grep node` if you're using conda.

[2021-01-04 14:15] yaacovNaNachRabbeinu commented on #217
`(base) #conda list | grep node
nodejs                    6.13.1                        0    conda-forge
`

P.S.: i found a similar problem but i use arch linux https://stackoverflow.com/questions/61888748/extension-installation-error-please-install-nodejs-5-and-npm-before-continuing

[2021-01-04 16:33] ianhi opened #218 "Add a check of object type to `add_edges` and `add_nodes`"
Checks should be added to `add_edges` and `add_nodes` that the `node/edge` being added is actually a valid node/edge object and if not we should fail with a clear error message.

_Originally posted by @ianhi in https://github.com/QuantStack/ipycytoscape/issues/214#issuecomment-748176164_

cc @sven5s

[2021-01-04 16:37] #195 closed

[2021-01-04 20:46] iAmNawa commented on #213
In jupyter nbextension list there is jupyter-cytoscape/extension and it says enables Validating: OK.  I am still getting this issue, any next steps on how to resolve?

[2021-01-04 22:48] yaacovNaNachRabbeinu commented on #217
I managed to install` jupyter labextension install @jupyter-widgets/jupyterlab-manager@2.0` , I tried several solutions to update `nodejs` via `conda` and after a while of trying it was successful, but now the following message appears as in the figure below:

![image](https://user-images.githubusercontent.com/76716532/103587078-5e7eb300-4ede-11eb-8aff-a8987266db08.png)

[2021-01-04 23:00] yaacovNaNachRabbeinu commented on #217
I already did several ways to update but the output to `conda list | grep node` remains:

nodejs                    0.1.1                    pypi_0    pypi

[2021-01-05 01:59] ianhi commented on #217
@yaacovNaNachRabbeinu what is the output of `jupyter labextension list` also, have you tried restarted jupyterlab and then re-running all the cells?

----
Sometimes `conda` can get kind of stuck, I'd recommend just creating a new environment. Here's a stripped down version that should work (it also uses mamba which is like conda but faster :))

[code]

[2021-01-05 02:00] ianhi commented on #217
Also it's worth mentioning that we will be releasing jlab3 support soon which happily will not require all this mucking around with  nodejs and build steps

[2021-01-05 02:09] yaacovNaNachRabbeinu commented on #217
I restarted jupyterlab before running the cells. There is an example where ` loading widgets` appears, but it never leaves this message, see the photo below:

![image](https://user-images.githubusercontent.com/76716532/103598637-04d8b180-4efb-11eb-97c9-b3fbdf9c9f9a.png)

[2021-01-05 02:10] yaacovNaNachRabbeinu commented on #217
I will try these guidelines

[2021-01-05 02:13] yaacovNaNachRabbeinu commented on #217
my output to `jupyter labextension list` bellow:
[code]

[2021-01-05 02:18] yaacovNaNachRabbeinu commented on #217
when executing the above commands I got a conflict error:

[code]

[2021-01-05 02:20] ianhi commented on #217
oops sorry.  Need o specify jlab =2.

[code]

I'm working on releasing jlab3 support right now, so hopefully that will be the miracle cure :)

[2021-01-05 02:40] ianhi opened #221 "Restore lazy loading"
### Problem
We used to lazy load our js, but that got lost in the transition to jlab 3 due to issues when building the wheels. see https://github.com/QuantStack/ipycytoscape/pull/171#discussion_r551487495

### Proposed Solution
Bring back the lazy loading.

[2021-01-05 03:24] yaacovNaNachRabbeinu commented on #217
Agora funcionou! Ainda não terminei de testar todos os exemplos do repositório, por enquanto, e apenas um dos exemplos que testei não renderizou, mas eu vou olhar o quê aconteceu e posto se necessário... Mas a maioria dos exemplos do reposítório que testei até agora não deram nenhum erro e renderizaram perfeitamente.

Thank you very much!, ThankxXD!!
Thanks for your patience.

One of the examples

[2021-01-05 07:20] martinRenou opened #224 "Update to Webpack 5"
During the JupyterLab 3 update it might have been better to update to webpack 5 so we are in the same build conditions for the labextension and for the nbextension.

[2021-01-05 09:10] marimeireles commented on #221
Hey Ian and @bollwyvl, thanks :)
Does this https://github.com/QuantStack/ipycytoscape/commit/71a61769fc843a7098b621287e1b84d5a8359afc close this issue?

[2021-01-05 13:11] martinRenou commented on #224
Upgrading to Webpack 5 broke Jupyter Notebook support in ipympl/ipyleaflet. It seems like we need to set the `publicPath` variable in the webpack.config.

It looks like setting `publicPath` to an empty string fixes it.

[2021-01-05 13:43] martinRenou commented on #224
See https://github.com/matplotlib/ipympl/pull/288

[2021-01-05 14:53] marimeireles commented on #213
Hey @iAmNawa did you start from scratch from a new environment and you can still reproduce this?

[2021-01-05 15:28] yaacovNaNachRabbeinu commented on #217
I turned off the notebook and when I turned it on again I immediately opened the `conda` and did a `jupyter lab` inside the conda shell and now the error `model not found` ou `loading widgets` (but never carries) appears again. Apparently the changes did not remain, what should I do so that the changes persist?

[2021-01-05 15:33] marimeireles commented on #217
Hey thanks for posting clear steps of how to reproduce @yaacovNaNachRabbeinu. I'm gonna have a look right now.

[2021-01-05 15:40] marimeireles commented on #217
Hi @yaacovNaNachRabbeinu I've repeated your steps and can't reproduce this error.
The only difference is that I didn't specify `-c Ananconda` as a channel. Maybe it's pulling some packages out of anaconda that don't interact well with the conda forge ones?
Really can't think of anything else.
Please try again but this time specifying only the `-c conda-forge` command.

[2021-01-05 15:46] ianhi commented on #217
To clarify: Is that error only there when you open the notebook, but then goes away once you run the cells again? Or is the error also present when you re-run the cells?

[2021-01-05 17:08] yaacovNaNachRabbeinu commented on #217
I'm sorry, I use a 'notebook computer', I forgot to make this clear, replace it now with the word 'PC'. About your doubts: regardless of restarting jupyter lab or not, the error persists in the execution of the cells at all times;

[2021-01-05 17:14] yaacovNaNachRabbeinu commented on #217
I will redo the execution, although I have tried to correct this by running the commands below again before seeing your request for clarification, follow the complete execution of the commands below, but I imagine I should have activated the environment by doing `conda activate`, maybe that's it, I will check:

[code]

[2021-01-05 17:16] marimeireles commented on #217
Hm, I'm a bit confused by your log but it seems like you're copy/pasting all lines at once? Run line by line.
Also, I recommend changing the name of the environment, because there's already an environment called `cytoscape`.

[2021-01-05 17:17] yaacovNaNachRabbeinu commented on #217
I ran `jupyter lab` and the error continues, I will try to activate the conda environment before running `jupyter lab`:

![image](https://user-images.githubusercontent.com/76716532/103677007-af8fb500-4f79-11eb-9126-836db6f7c618.png)

[2021-01-05 17:21] yaacovNaNachRabbeinu commented on #217
I'll do as I said, but yes, I'm running one line at a time of code.

[2021-01-05 17:31] yaacovNaNachRabbeinu commented on #217
Now it worked, the point is that I didn't really do `conda activate cytoscape`. Although I also think to follow your advice and avoid using `-c anaconda`. Thank you very much, I am closing the issue as resolved, if you allow me. @marimeireles and @ianhi you were amazing! Thank*^2xD!

[2021-01-05 17:32] marimeireles commented on #217
No problem, glad you found your way =)
It's a lot of little things to keep track of.

[2021-01-05 18:15] #217 closed

[2021-01-05 18:19] ianhi commented on #221
Yup! Good catch

[2021-01-05 18:19] #221 closed

[2021-01-07 07:43] sven5s commented on #128
#225

[2021-01-07 07:46] sven5s commented on #144
Can be closed?

[2021-01-07 07:48] sven5s commented on #147
Can be closed?

[2021-01-07 07:48] sven5s commented on #82
Can be closed?

[2021-01-07 14:17] marimeireles commented on #147
Yes! Thanks!

[2021-01-07 14:17] #147 closed

[2021-01-07 16:01] marimeireles commented on #144
Yeah, I think so, even though, if anyone is seeing this. We're always interested in your dashboard!
I'm pretty sure it'll help everyone using it :)

[2021-01-07 16:02] #144 closed

[2021-01-07 23:24] pwrose opened #226 "Proposal for an add_graph_from_neo4j pull request"
### Problem

There is currently no solution to display Neo4j graphs or the result of a Neo4j Cypher query (subgraph) in Jupyter Notebook.

### Proposed Solution

I can make a pull request for a`add_graph_from_neo4j `method that takes as input a Neo4j graph or subgraph.

### Additional context

This method would add a dependency on the py2neo library. Let me know if that's ok.

[2021-01-08 09:41] marimeireles commented on #226
Hey @pwrose I wrote a notebook with examples integrating ipycytoscape with neo4j a while ago when we worked together in that COVID effort, do you still have access to it? I think they can be very useful for what you want to do.
I think it's fine to add `py2neo` as a dependency, we added `pandas` and `networkx`. I don't think size of the binary is a huge issue for our users. @ianhi has an opinion o

[2021-01-08 10:03] marimeireles commented on #82
Yes. Thanks @sven5s

[2021-01-08 10:03] #82 closed

[2021-01-14 07:35] pwrose commented on #226
@marimeireles
I've created a prototype of the Neo4j integration here:
https://github.com/pwrose/ipycytoscape/blob/master/ipycytoscape/cytoscape.py#L642

I need to do some more testing before submitting a pull request.

I've created a couple of example notebooks to demonstrate how it works:
https://github.com/pwrose/neo4j-ipycytoscape

You can run these examples on the Pangeo Binder server here:
ht

[2021-01-14 10:55] marimeireles opened #227 "Improve edge labeling"
### Suggestion

Is a suggestion as I'm not sure if we want to have this kind of default style that overrides cytoscape patterns.

Seeing this amazing example by @pwrose:

![image](https://user-images.githubusercontent.com/17600982/104581139-125a0e00-5656-11eb-892e-b78ab358af3a.png)

That can be tested [here](https://hub.binder.pangeo.io/user/pwrose-neo4j-ipycytoscape-h2bx1p8x/lab/tree/notebooks/Ne

[2021-01-14 10:58] marimeireles commented on #227
A quick google search showed me results where labels are not on top of edges. I'm not sure what's the best default behavior tbh.

[2021-01-14 11:44] marimeireles commented on #226
I just skimmed your code, but it seems like you're in a really good path! Exciting work :)

I don't think it's necessary to run it on MyBinder, but if you want help to debug it let me know.

It's not mandatory to have an example, but I don't think we can't [run two different binders](https://mybinder.readthedocs.io/en/latest/using/config_files.html#postbuild-run-code-after-installing-the-environme

[2021-01-14 11:51] MridulS commented on #226
Yeah, only certain ports are allowed for egress traffic on mybinder:

https://github.com/jupyterhub/mybinder.org-deploy/blob/a11fe1d3ad104c3a4777babf586b1f73ec08e8da/mybinder/values.yaml#L44-L51

[2021-01-19 09:42] marimeireles opened #229 "Add CI to Win and MacOS"
I was checking the dependencies and I'm sure all of them run on macOS but I think also on windows.
We should add it to our CI :)

[2021-02-01 18:37] TK-21st commented on #216
Stumbled upon the same issue and realized I should call `G.set_layout(name='preset')` to force position.

See [cytoscope.js layout documentation](https://js.cytoscape.org/#layouts/preset)

[2021-02-03 20:00] hbalp opened #232 "Adjust the height of html table tooltips"
Hello, first I would like to thank you for this great library

### Problem

I am trying to use the tooltip feature to display some more information on nodes and edges on user click request, but don't know how to adjust the height of the tooltip box to its real content.
Indeed the tooltip box size is to big and begins with an empty region.
It's sometime impossible to read its usefull content.

###

[2021-02-03 20:42] ianhi commented on #232
Hi @hbalp can you please post a small code snippet in the issue so it's easy for everyone to copy paste and try this out?
It's ok if its a bit long, it just makes it much easier for us to play around with your example. You can format code by putting inside a code block with backticks:

see: https://docs.github.com/en/github/writing-on-github/basic-writing-and-formatting-syntax#quoting-code

As a f

[2021-02-03 20:43] ianhi commented on #232
Also! Thanks for opening this issue, once we figure this out this will be a great thing to include in the docs

[2021-02-03 23:03] hbalp commented on #232
import ipycytoscape
import pandas as pd

a = { 'param1' : 'value1', 'param2' : 'value2', 'uri': 'https://someuri.example.com' }
df = pd.DataFrame(data = [a])
a_tooltip = df.transpose().to_html(render_links = True)

data = {
    'nodes': [
            { 'data': { 'id': '1', 'tooltip': a_tooltip } },
            { 'data': { 'id': '2', 'tooltip': 'b'} },
            { 'data': { 'id': '3', 'tooltip':

[2021-02-08 06:33] sandertyu opened #234 "Remove @0.2.3 from jupyter-cytoscape in postBuild"
### Problem

When trying to debug ipycytoscape in a [JupyterHub deployment](https://jupyter.libretexts.org/hub/login) that I help manage, I was testing a [repo2docker image](https://github.com/LibreTexts/default-env/tree/2.3.2) that we build with ipycytoscape=1.2.0 and it was not working because our jupyterlab=2.2. I was comparing the extensions used in the [postBuild](https://github.com/LibreText

[2021-02-08 11:55] marimeireles commented on #234
Thank  you for your issue and your fix @sandertyu.
So yeah, you're right about the npm repo, @ianhi and I forgot to upload the package there somehow!
I'll fix it right away and close this issue once it's fixed. Thanks for the catch!

[2021-02-08 12:54] marimeireles commented on #234
Hey @sandertyu thanks again, fixed [here](https://www.npmjs.com/package/jupyter-cytoscape).

[2021-02-08 12:54] #234 closed

[2021-02-08 12:55] marimeireles commented on #226
Hey @pwrose, let me know if I can help on this! I think it's a super cool addition.
Cheers!

[2021-02-09 01:06] sandertyu opened #235 "Only build JupyterLab in postBuild"
### Problem

With the [extension changes](https://jupyterlab.readthedocs.io/en/latest/user/extensions.html#extensions) to JupyterLab3, most of the contents in the current `postBuild` of this repository are unnecessary. This can potentially be confusing for users seeking to replicate an environment like this one.

### Proposed Solution

I propose that the contents of `postBuild` are changed to simp

[2021-02-10 08:23] pwrose commented on #226
@marimeireles my pull request (https://github.com/QuantStack/ipycytoscape/pull/237) fails with a lint issue. I'm not sure what needs to be fixed.

[2021-02-10 08:33] pwrose commented on #226
@marimeireles the tests are also trying to run Neo4j_Example.ipynb on binder, however, this will not work since binder blocks required ports. Can you exclude Neo4j_Example.ipynb from running on binder?

[2021-02-10 16:53] marimeireles commented on #226
I'll have a look at this right now.
Thanks for the awesome work!
I'll move the rest of the discussion to the PR :)

[2021-02-10 23:40] k-b-00 opened #238 "Question about Concentric layout"
Hello

[I am new to GitHub and somewhat new to data science; please forgive any obvious questions.]

I am trying to use the concentric layout for my CytoscapeWidget but whenever I try to pass the 'concentric' and 'levelWidth' arguments as keyword arguments, ipycytoscape does not seem to reflect changes in the visualization. I have tried following the documentation at https://js.cytoscape.org/#layo

[2021-02-12 11:59] marimeireles commented on #238
Hey @k-b-00, thank you for opening the issue :)

ipycytoscape offers an interface in python, so you should use python to create your visualizations. we're only based in the original cytoscape lib (which is written in js). But you're right to check for cytoscape docs as we try to keep compatibility with their API, we try to offer all functionalities that they offer.

Ok, so looking into the [cytosc

[2021-02-12 12:11] marimeireles commented on #238
What I found differently from the examples on cytoscape:

1. Other layouts use a layout implementation like the following:
[code]
See [[1]](https://github.com/cytoscape/cytoscape.js-cola/blob/master/src/index.js) and [[2]](https://github.com/cytoscape/cytoscape.js-dagre/blob/master/src/index.js).

There are still some other more compelx ways of using it, but still they're just assigning the templa

[2021-02-12 12:38] marimeireles opened #239 "Run notebooks and upload them"
We should run all of the notebooks and commit them ran. Github has this (new?) super nice feature of showing notebooks and if it's ran it shows the output. It's much better than just showing the code.

[2021-02-16 09:05] specter119 opened #240 "[Feature Request]: Split into labextension(or + serverextension) and python package"
### Problem

I would like the package split into lab extension and python package since I use multiple envs for different usage, then the lab extension can be installed to the master env for visualization and the python package can be installed to the slave env to offer APIs.

Then the lab extension may only depend on jupyterlab, while the python package will depend on networkx etc.

### Proposed

[2021-02-16 13:17] marimeireles commented on #240
Hey @specter119, thanks for opening the issue.

I don't really know if this is possible and I'm not sure on how to approach this, but if you figure out a way of doing this I'll happily review a PR!

Is there anything that prevents you of installing the same package on both environments?

[2021-02-16 15:57] ianhi commented on #240
You mean to split up the python package into two separate python packages?

Is your goal to not depend on networkx in the base env or is it avoid jupyterlab in the other envs? For the latter note that the extension doesn't actually depend on jupyterlab. For the former I think this actually already achievable by only installing the `npm` package (the old way of installing extensions) with `jupyter

[2021-02-16 18:08] marimeireles commented on #235
Hey @sandertyu, thank you for opening this issue.
I don't see a problem with adding your changes to the `postBuild`, the code that's there doesn't even work anymore afaic, because it's made to run with `jupyterlab2`.
My only problem is that I couldn't run your local branch for some reason! I used: https://mybinder.org/v2/gh/LibreTexts/ipycytoscape/master?filepath=examples
But if you want to open a

[2021-02-16 18:32] marimeireles commented on #235
Okay :)
magically worked now, for me.
Are you doing this because the current postbuild file is failing for you somehow or because it's wrong?

[2021-02-17 06:03] specter119 commented on #240
My goal is avoiding jupyterlab in the other envs, it's heavy for a env offering kernel.

[2021-02-17 07:05] ianhi commented on #240
oooh that's actually great, because I think that what you want is already happening. That is `pip install ipycytoscape` does **not** depend on jupyterlab. It depends on jupyterlab-widgets which is suggestive of a dependency, happily however it does actually depend on jlab. See https://github.com/jupyter-widgets/ipywidgets/pull/2995 for discussion on this.

When you are installing `ipycytoscape` in

[2021-02-17 07:44] specter119 commented on #240
@ianhi thanks in advance. @marimeireles  thanks all of you for development.
I think this issue can be close now, however, things talked here should be mentioned in the readme.

[2021-02-17 07:44] #240 closed

[2021-02-17 11:49] marimeireles commented on #240
Hey @specter119 glad you found a solution with Ian! :)
Thanks for the kind words. Lots of ipycytoscape has Ian's contributions on it.
Please feel free to add this info to the README in a way you think it'll be useful to people.
Cheers!

[2021-02-19 22:43] k-b-00 commented on #238
@marimeireles thanks for the response!

Just to add further documentation to the issue, it seems that ipycytoscape (version 1.2.0) will start to create concentric rings at a certain threshold (which I assume is set to the cytoscape.js default) as opposed to not at all. For example, in this visualization, I have one node with connections to all other nodes, a second node (top of picture) with conne

[2021-02-24 13:00] joseberlines opened #242 "For info: A new tag exists in Stackoverflow for ipycytoscape"
The title says it all.
There was not yet such a tag so the whole community will be able now to post questions in StackOverflow and tag them with:

![image](https://user-images.githubusercontent.com/33203439/109004165-adf48a80-76a8-11eb-9557-ad062acd4fa5.png)

[2021-02-26 17:03] joseberlines opened #243 "redering a ipycytoscape as a tree"
Anyone knowing what is the layout necessary to use in order to get a layout like this:
https://stackoverflow.com/questions/66351266/rendering-a-graph-as-a-tree
![image](https://user-images.githubusercontent.com/33203439/109331228-e2a94300-785c-11eb-8f25-c76f78b15575.png)

What it is necessary to achieve is that parents are higher than children.
Thanks

[2021-02-26 17:14] timkpaine commented on #243
you can see a good overview of cytoscape layouts and demos on https://js.cytoscape.org/

[2021-02-26 17:25] timkpaine commented on #243
Example: https://github.com/QuantStack/ipycytoscape/blob/7f240158f6b690c304302e4cbab488c4c9c5159f/examples/DAG%20example.ipynb

[2021-02-27 12:26] joseberlines commented on #243
thanks @timkpaine

[2021-02-27 12:26] #243 closed

[2021-02-27 15:06] ahrm opened #244 "Deleting a node does not update the widget"
### Bug report

**Bug summary**

When I delete a node from the graph, the previously displayed widgets are not updated.

**Code for reproduction**

[code]

**Actual outcome**

![cytobug](https://user-images.githubusercontent.com/6392321/109391036-536a6100-792a-11eb-9df1-120358960d8c.png)

The left panel is the output from the first time the widget is shown and the right panel is from the second ti

[2021-03-01 05:36] ianhi commented on #226
It's certainly no worse than pandas or networkx. But reflecting on this more maybe we shouldn't be requiring any of them. It's nonsensical to call `from_networkx` without already having a networkx object which would imply having networkx installed. So I propose adding them as a optional dependencies so the install options would be:

[code]

Then we should just lazy import the respective libraries

[2021-03-01 12:40] marimeireles commented on #242
Hey @joseberlines, thank you!
And sorry, I was out for a little vacation.
I'll keep this open so we remember to add a tag on the readme! :)

[2021-03-01 13:35] joseberlines commented on #242
There are some questions in SO already about ipycytoscape. It's my intention to tag them if I have permissions.

[2021-03-03 11:46] marimeireles commented on #242
Do you? Or do I have to do something somewhere?

[2021-03-07 08:59] sandertyu commented on #235
Sorry for the late response. The code there does not cause any explicit problems so far as I know, but it is at best superfluous, and could potentially cause bugs or version conflicts later on. Additionally, `jupyter-offlinenotebook` (installed through [repo2docker](https://github.com/jupyterhub/repo2docker/blob/master/repo2docker/buildpacks/conda/environment.yml) and unavoidable) suggests adding

[2021-03-11 19:16] joseberlines commented on #242
Dont worry I will take care of this (if I have permissions to tag others questions). Next time I look for something I will try to Tag and report here. Then I will close issue herw

[2021-03-18 14:37] marimeireles opened #249 "Improve logging"
### Problem

Our logging system is not as good as it could be.

### Proposed Solution

 I propose doing something like this:

[code]

Which allows us to pass the desired logging level as cmd line option.

See more context on how to implement it here: https://docs.python.org/3/howto/logging.html

[2021-03-23 12:04] marimeireles commented on #244
Thanks for the bug report @ahrm!
I think I fixed this issue months ago in the open PR, at least that's the name for my commit: https://github.com/QuantStack/ipycytoscape/pull/177/commits/593c1c8d0d30a9539ac17ec81f5f4687cd6605f2
Apparently what's missing here to merge this [PR](https://github.com/QuantStack/ipycytoscape/pull/177) is my input for documenting it and creating tests, I'll try to get in

[2021-03-29 12:16] marimeireles commented on #244
Fixed by #177

[2021-03-29 12:16] #244 closed

[2021-03-29 12:16] marimeireles commented on #235
Is this fixed @sandertyu ?
Thanks!

[2021-03-29 12:20] marimeireles commented on #242
Thank you very much for using your privileges @joseberlines :)

[2021-03-29 12:20] #242 closed

[2021-03-29 12:21] marimeireles commented on #216
I'll close this as resolved.
Thank you for jumping in @TK-21st ! :cherry_blossom:

[2021-03-29 12:21] #216 closed

[2021-03-29 12:22] marimeireles commented on #213
Anyone can still reproduce smth like this?

[2021-03-29 12:23] marimeireles commented on #203
Is this still valid?

[2021-03-29 12:24] marimeireles commented on #175
@SylvainCorlay were you able to have a look at this?
You have someone else I can ping about it?

[2021-03-29 12:25] #187 closed

[2021-03-29 13:33] lteu commented on #213
Hi all, I encountered the same issue. My OS system is MacOS.
Finally, I solved it after I had correctly installed the anaconda environment
https://docs.conda.io/projects/conda/en/latest/user-guide/install/macos.html
and the library via command line with conda install.

I used to launch my notebook with
python3 -m notebook
and it did not work, I guess the environment was not configured correctly.

[2021-03-29 13:41] marimeireles commented on #213
Yeah, the only way I could reproduce this kind of behavior was having a faulty environment.
I'm going to close this one then. Thanks for the feedback @Iteu! :cherry_blossom:

[2021-03-29 13:41] #213 closed

[2021-03-29 19:22] sandertyu commented on #235
Yes I believe so. postBuild was removed as it was unnecessary. I'll close the issue now.

[2021-03-29 19:22] #235 closed

[2021-03-30 14:25] saulshanabrook opened #252 "ELK Layout Support"
### Problem

I would like to be able to use the [Cytoscape ELK layout](https://github.com/cytoscape/cytoscape.js-elk). In the [Cytoscape layout blog post](https://blog.js.cytoscape.org/2020/05/11/layouts/), they describe it as:

### Proposed Solution

I propose shipping the ELK extension with the bundle. I realize there may be a slippery slope type argument here, if you include one extension, what

[2021-03-30 14:27] saulshanabrook commented on #148
Hey @marimeireles, I am the original author of [https://github.com/Quansight-Labs/jupyter-output-spec](https://github.com/Quansight-Labs/jupyter-output-spec) which @blois's work builds on.

If you are interested in helping move this forward, I am happy to try to explain here the state of things or get on a call. I think it would do a lot to help the whole Jupyter community by improving interop bet

[2021-03-30 14:34] timkpaine commented on #148
Nteract, voila, Sphinx, nbconvert,  jupyter, and jupyterlab all work out of the box with the widget cookiecutter assuming you don't need to do anything super custom. I would say this issue should probably be closed as it doesn't make too much sense to build custom functionality here instead of in the cookiecutter that we all rely on underneath.

[2021-03-30 14:36] timkpaine commented on #148
https://github.com/jupyter-widgets/widget-ts-cookiecutter
https://github.com/jupyter-widgets/widget-cookiecutter

[2021-03-30 15:41] ianhi commented on #148
I very much agree with this. Unless @marimeireles disagrees I think we should close this and move this discussion over to the jupyter-widgets organization. As for `Ipycytoscape` support, I feel comfortable saying that it will continue to be updated to reflect any changes to the cookiecutter any solution will ultimately end up here as well.

I'm all for more widgets in more places! @saulshanabrook

[2021-03-30 22:25] marimeireles commented on #252
Hey @saulshanabrook, thank you for opening this issue.
It's always been the purpose to integrate more layouts to ipycytoscape :) so that's no problem at all!
Have you tried this locally? Does a
[code]
does the job here?
If you've tried this locally, please feel free to open a PR, I'll gladly review it, cheers!

[2021-03-31 07:35] marimeireles commented on #148
Yes, seems like a good one :)

[2021-03-31 07:35] #148 closed

[2021-04-04 07:15] dbrnz opened #253 "Error displaying widget: model not found"
### Bug report

**Bug summary**

Attempting to display a graph results in `Error displaying widget: model not found`.

Is this closed issue #22 reappearing??

**Code for reproduction**

[code]

**Actual outcome**

Error displaying widget: model not found

**Expected outcome**

A visualisation of the graph.

**Version Info**

  * ipycytoscape version: 1.2.0
  * Python version: 3.8
  * JupyterLab ve

[2021-04-04 07:17] dbrnz commented on #253
`jupyter labextension list` results in:

[code]

[2021-04-05 02:11] ianhi commented on #253
Hi @dbrnz  how did you install ipycytoscape? Can you check that the following works in a new environment?

[code]

[2021-04-05 06:14] dbrnz commented on #253
@ianhi, ipycytoscape was installed into an existing Jupyter Lab 2.0 environment that was then upgraded to 3.0, so maybe there is an issue around upgrading.

I have just tried a fresh installation in a new environment and things work as expected.
[code]

[2021-04-05 15:24] ianhi commented on #253
That's very plausible - unfortunately I think that if this is an issue it's really an upstream issue as ipycytoscape just followed the recommended changes. So let's close this as resolved with the solution of a new environment. (Feel free to re-open if you'd like)

[2021-04-05 15:24] #253 closed

[2021-04-09 20:13] marimeireles opened #254 "Positioning of nodes/edges doesn't work"
You can create a `Node` instance and try to set a position with:

[code]

Or do something completely else, the node will appear in the same place in the screen.

I have to read more into it but I wonder if it's because we're not interacting with Phosphor correctly.
I don't think the problem is related with the spectate problem of deep objects like dictionaries not being sync. because we have other

[2021-04-09 20:13] marimeireles commented on #254
I have to jump out for now and will be out for the wknd, but hopefully I can pick this up again a bit on Monday!

[2021-04-12 13:16] martinRenou commented on #254
You might want to check if this code is executed properly with a `console.log`? https://github.com/QuantStack/ipycytoscape/blob/master/src/graph.ts#L176

[2021-04-28 13:54] SebastienDorgan opened #255 "Graph display is not cleared when nodes, edges and adjacency are cleared"
### Bug report

**Bug summary**
I add a graph using
[code]
where self.cyto is an instance of CytoscapeWidget.
The graph is correctly displayed
![image](https://user-images.githubusercontent.com/12728415/116415092-5fdf3d00-a839-11eb-8d1e-7abd43fa4b9e.png)

To clear I use:
[code]
But the graph is still displayed

**Environment**
Python 3.8.5

ipycytoscape              1.2.0              pyhd8ed1ab_0

[2021-04-28 14:26] SebastienDorgan commented on #255
Installing ipycytoscape from the source solved the problem

[2021-04-28 18:38] marimeireles opened #256 "Change license"
Some files still say this code is under my copywrite, but we have to change to the ones that are saying smth like:

`// Copyright (c) 2020, QuantStack and ipycytoscape Contributors`

[2021-04-28 18:41] marimeireles commented on #128
:cherry_blossom:

[2021-04-28 20:30] timkpaine commented on #256
This is good for consistency but you don't technically *need* to do this as the presence of the notice has no bearing.

[2021-05-05 18:00] micw42 opened #257 "Is it possible to set the concentric variable in ipycytoscape?"
In the concentric layout of cytoscape.js, it is possible to put a node in a certain "layer" of the circle through the `concentric` variable of the layout:

[code]

[Here](https://js.cytoscape.org/#layouts/concentric)  is the cytoscape.js documentation about this

Is there a similar function to this in ipycytoscape? Thank you so much!

[2021-05-05 21:40] ianhi commented on #257
Hi @micw42 good question! I think you're looking for the code in this example: https://github.com/QuantStack/ipycytoscape/blob/master/examples/Concentric%20example.ipynb

Hope that works for you!

[2021-05-06 02:46] micw42 commented on #257
Hi @ianhi Thank you for answering my question! Sorry I wasn't being very clear before. I've already done`cytoscapeobj.set_layout(name='concentric')` I was wondering if there were a way to control which concentric layer a node ends up in? For example, here is the graph I made:

![image](https://user-images.githubusercontent.com/70285403/117234537-0c8d6180-adda-11eb-9d86-bfa2e6af27bf.png)

Would it

[2021-05-06 10:08] marimeireles commented on #255
I believe this was fixed by the newest release.
Thanks for opening the issue!

[2021-05-06 10:08] #255 closed

[2021-05-06 10:57] marimeireles commented on #257
Hey @micw42, thanks for opening the issue.
I think the reason why you can't do this is the same as: https://github.com/QuantStack/ipycytoscape/issues/238?
What do you think? If it is, we can close this issue and keep the discussion centralized in there.
For now we don't have a fix! But feel free to add your thoughts and questions there. I can't work on it at the moment but would gladly review a PR

[2021-05-07 00:23] micw42 commented on #257
Hey @marimeireles Yeah, I think it's the same; sorry I didn't see it earlier! Thank you :)

[2021-05-07 00:23] #257 closed

[2021-05-07 08:06] marimeireles commented on #257
No probs! :)

[2021-05-07 10:09] #256 closed

[2021-05-07 21:15] SylvainCorlay opened #262 "Moving ipycytoscape to the Cytoscape GitHub organization"
After discussions with the leadership of the Cytoscape organization, and with the plasmabio project, we are now planning on moving the ipycytoscape project outside of the QuantStack organization to the Cytoscape organization.

We hope that this will reflect more the multi-stakeholder nature of the project and help attract new contributors.

This will probably happen in the course of next week. Afe

[2021-05-25 12:07] marimeireles commented on #262
Thanks Sylvain and everyone involved! :)

[2021-05-25 12:07] #262 closed

[2021-05-25 12:07] marimeireles commented on #226
Thanks for the great work @pwrose!

[2021-05-25 12:07] #226 closed

[2021-06-23 10:14] marimeireles commented on #175
This was lost, unfortunately.
I wrote a new notebook for scypy and will make it available here.

[2021-06-23 10:14] #175 closed

[2021-06-23 10:14] #239 closed

[2021-06-23 10:14] marimeireles commented on #239
Done.

[2021-07-01 00:01] rohanvarm commented on #80
Has there been an update to this? Is it still open?

[2021-07-01 09:03] marimeireles commented on #80
Hi @rohanvarm, could you please tell me about your use case?
Voila isn't enough for it?
Have you tried [nbconvert](https://github.com/jupyter/nbconvert)?

[2021-07-02 13:26] marimeireles opened #268 "Convert javascript events to Node or Edge"
I was creating some examples to scypy and noticed the events received in this case:

[code]

Are a perfect `Node` instance. I think it'd make sense to convert this event to `ipycytoscape.Node()` on our backend. That'd remove the need to have this line `auxNode = cyGraph.graph.nodes[int(event['data']['id'])]`.
This also works for `Edge`.

[2021-07-13 10:43] marimeireles opened #269 "Establish a default way of naming examples notebooks"
It's a bit of a mess, currently.

[2021-07-23 13:44] AlexejPenner opened #270 "Directed Edges not working with CustomNode"
### Bug report

Extending the code for https://ipycytoscape.readthedocs.io/en/latest/examples/networkx.html#Custom-networkx-Node-Objects-that-inherit-from-ipycytoscape.Node by adding the directed=True flag does not add the arrow to the resulting visualized graph.

[code]

**Actual outcome**

![image](https://user-images.githubusercontent.com/38859294/126789943-bb8694e1-813a-4124-84f0-e4f33d6623c9.

[2021-07-26 15:44] marimeireles commented on #56
I'm not sure anymore if this is the best way to go. I'd like to be able to allow the user to pass a full dictionary. Kind of like what we have now, but with synchronization. I've updated the issue description with more info about ipycytoscape context's and what's happening here.

[2021-07-26 15:47] marimeireles commented on #194
I also don't understand many of these keywords. I'd recommend opening an issue upstream.
I've recently tried a few of these myself and couldn't grasp how they work, I imagine is just because I don't know CSS?
Regarding to your last comment I'm moving this discussion to: https://github.com/cytoscape/ipycytoscape/issues/56

[2021-07-26 15:47] #194 closed

[2021-07-26 15:57] marimeireles commented on #270
Hey @AlexejPenner thank you for opening this issue. I'll move the discussion to https://github.com/cytoscape/ipycytoscape/issues/56. I'm having a look on it, but not sure how much time I can spend on it.
Contributions are welcome and I'm around if you or anyone else have questions!
Thanks for opening the issue. I really dislike  this bug and want to fix it =)

[2021-07-26 15:57] #270 closed

[2021-07-26 15:58] marimeireles commented on #197
This happens because of #56. I'm closing this and moving the discussion to there.
Thanks for the issue!

[2021-07-26 15:58] #197 closed

[2021-07-27 07:50] AlexejPenner commented on #270
Thanks @marimeireles - in the meantime for anyone else running into this it seems pretty easy to get the arrow behavior by explicitly defining it like in [#56](https://github.com/cytoscape/ipycytoscape/issues/56)

`import ipycytoscape
import networkx as nx

class CustomNode(ipycytoscape.Node):
    def __init__(self, name, classes=''):
        super().__init__()
        self.data['id'] = name

[2021-07-27 11:38] marimeireles commented on #56
Okay! Earlier today I got the answer! It's pretty simple:
We just have to adapt the deepcopy code from `set_layout`. Just have to take care to not overwrite `keys`.
I'm not sure when I'll be able to implement it cause I want to work on other things now, so if anyone feels like it, please feel free. I'll try to do it some time this week!

[2021-08-04 08:16] marimeireles commented on #56
Right, I was able to fix it. I just wanna add a remove function too so it's possible to remove previous added styles and a clear function for style.
The solution was simpler than I first thought. Will be uploading soon and releasing a 1.3 version for that (very likely, since it's changing the behavior, even tho the API is the same. I don't expect to crash anyone's code, but could happen).

[2021-08-05 06:13] marimeireles commented on #56
Even though this issue is resolved I'll keep it open in case anyone wants to implement the chain solution. Later on I'll try to start it by implementing the first method and then it's gonna be easy to continue =)
So it's gonna be again a suitable issue for good first bug.

[2021-08-07 10:17] brianminsk opened #273 "graph displays locally but not in Binder"
Any ideas why this graph displays in a local Jupyter Notebook but not on binder, please?

https://mybinder.org/v2/gh/brianminsk/binder_test/HEAD

[2021-08-07 14:29] MridulS commented on #273
Could you create a new file (environment.yml) in that repo (https://github.com/brianminsk/binder_test) and add this config to it?
[code]
This will make sure the environment is correctly set up at binder.

[2021-08-08 07:58] brianminsk commented on #273
Thank you - that worked. Sorry, I am new to Jupyter ...

[2021-08-08 07:58] #273 closed

[2021-09-23 14:57] shadiakiki1986 opened #274 "Pickling error for Graph, Node, Edge"
### Bug report

**Bug summary**

Cannot pickle ipycytoscape graph

**Code for reproduction**

[code]

**Actual outcome**

[code]

**Expected outcome**

Result of pickle

**Version Info**

  * ipycytoscape version (`import ipycytoscape; print(ipycytoscape.__version__)`) : 1.2.2
  * Python version: 3.8.10
  * Jupyter(Lab) version:
[code]

[2021-09-23 16:39] shadiakiki1986 opened #275 "Large graphs: Faster graph object creation"
### Problem

* I would like it if large graphs (eg 5k nodes, 30k edges) loaded faster than 2 minutes

### Proposed Solution

The slowest part for me is the edge creation. The `Edge()` constructor is called n-edge times at [cytoscape.py#L524](https://github.com/cytoscape/ipycytoscape/blob/master/ipycytoscape/cytoscape.py#L524). It's not the `Edge` constructor that's slow, but the `Widget` construct

[2021-09-23 16:56] MridulS commented on #274
It's not possible to pickle a widget object, this probably needs to be solved upstream.

[2021-09-23 18:12] shadiakiki1986 opened #276 "AVSDF layout is not centered"
### Bug report

**Bug summary**

Using the avsdf layout results in a graph that is not centered

**Code for reproduction**

[code]

[2021-09-27 12:00] marimeireles commented on #274
Thanks for pointing it to the right direction peeps. I personally didn't know that.

[2021-09-27 12:31] marimeireles commented on #276
Wow, great issue!
Thank you for testing with all of these @shadiakiki1986 :)

Ok, I think of two things when I read your issue:

1. All of the layouts who are centered were included in `ipycytoscape` deps. They're both on the `package.json` + imported on the typescript side. So, I'd say a good thing to try would be adding one of these other packages to the packagejson and importing it on the `widg

[2021-09-27 13:17] marimeireles commented on #275
Thanks for opening the issue!

This makes sense to me, it seems like it'd work... I'm just worried with the synchronization problems that `spectate` have with deep objs.

@MridulS implemented most of these methods :) You have an opinion on this?

[2021-09-29 17:39] CommandoTeeJ opened #277 "Is there a way to get the cursor position within the canvas?"
I'm looking for a way to retrieve the mouse position within the canvas in a similar manner to ipycanvas' command:

[code]

[2021-09-30 07:49] MridulS commented on #275
This should be possible but I think this will take up some initial effort to implement the `EdgeList` class and keep the syncing, like this will probably mean that once the graph is created you can't delete any edge manually from that `EdgeList` (or recreate the EdgeList class with N - 1 edges)  which (IMO) kind of breaks functionality as it's nice to have an interactive graph where you can remove